.paper-list__table-action-link-copy {
  display: flex;

  .zent-input {
    width: 250px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .zent-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
