{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-element-colon-notation": null,
    "max-line-length": 80,
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null
  },
  "ignoreFiles": ["node_modules", "**/*.js", "packages/zent/css"]
}
