$btn-white: #fff;
$btn-gray: #bbb;
$btn-light-gray: #e5e5e5;

$btn-blue: #3283fa;
$btn-light-blue: #66a3ff;
$btn-deep-blue: #2e7df1;
$btn-deep-deep-blue: #276ACC;

$btn-red: #ff4343;
$btn-light-red: #ff6666;
$btn-deep-red: #f63535;
$btn-deep-deep-red: #CF2F2F;

$btn-green: #06bf04;
$btn-light-green: #12D24D;
$btn-deep-green: #00ab00;
$btn-deep-deep-green: #0BA40A;
