.page {
  &-footer {
    height: 72px;
    margin-top: 40px;
    background-color: #34383b;
    display: flex;
    justify-content: center;

    &__item {
      float: left;
      margin: 0 20px;
    }

    &__link {
      display: block;
      color: #e5e5e5;
      font-size: 12px;
      line-height: 72px;
    }

    &__copyright {
      color: #999;
      font-size: 12px;
      line-height: 72px;
      margin-left: 50px;
    }
  }
}
