$top-nav-height: 60px;
$footer-height: 72px;
$border-color: #eaeefb;
$toggle-color: #ccd6e5;
$bg-color: #f8f8f8;
$code-bg-color: #f2f2f2;
$link-color: #155bd4;
$menu-hover-bg: #3773da;
$code-font-family: Dosis, Source Sans Pro, PingFang SC, Helvetica Neue, Arial,
  sans-serif;
