@import './constants';
@import './animation';
@import '../../packages/zent/assets/theme/default';

.app {
  min-width: 1200px;
}

.page-content {
  overflow-x: auto;
  position: relative;
}

.react-doc-page-content {
  min-height: 100%;
  padding: 10px 0 62px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.zandoc-react-container {
  .zandoc-react-demo {
    border-radius: 4px;
    border: 1px solid $border-color;
    margin: 0 40px;

    & + .zandoc-react-demo {
      margin-top: 40px;
    }

    &__preview {
      padding: 40px;
    }

    &__bottom {
      padding: 20px;
      border-top: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;
      transition: background-color 0.3s ease;
      background-color: #f5f7fa;

      &:hover {
        background-color: #ebeff5;
      }
    }

    &__toggle {
      display: inline-block;
      width: 20px;
      height: 20px;
      color: $toggle-color;
      font-size: 12px;
      line-height: 20px;
      flex: 0 0 auto;
      transition: 0.2s ease;

      &-off {
        transform: rotate(180deg);
      }
    }

    &__title {
      flex: 1;
      color: #666;
      font-size: 14px;
      min-height: 20px;
      margin-right: 20px;
    }

    &__code {
      code[class*='language-'] {
        margin: 0;
        border-top: 1px solid $border-color;
      }
    }
  }
}

// todo
img[alt='zent-theme'] {
  width: 514px;
  height: 319px;
}

.zandoc-react-color-row {
  margin-bottom: 10px;

  .zandoc-react-color-cell {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.zandoc-react-color-cell {
  display: inline-block;
  width: 250px;
  height: 80px;
  border-radius: 4px;
  padding: 5px 15px;
  box-sizing: border-box;
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;

  .zandoc-react-color-cell__name {
    margin-top: 8px;
    font-size: 20px;
  }

  .zandoc-react-color-cell__color {
    margin-top: 8px;
    font-size: 14px;
  }

  &--light {
    .zandoc-react-color-cell__name {
      color: #fff;
    }

    .zandoc-react-color-cell__color {
      color: #e5e5e5;
    }
  }

  &--dark {
    .zandoc-react-color-cell__name {
      color: #333;
    }

    .zandoc-react-color-cell__color {
      color: #999;
    }
  }

  &__mask-white {
    border: 1px solid #e5e5e5;
  }
}

// temp css

.font-item {
  margin: 8px;
  display: block;
}

.font-title-1 {
  @include zent-font(xx-large, title);
}

.font-title-2 {
  @include zent-font(x-large, title);
}

.font-title-3 {
  @include zent-font(large, title);
}

.font-title-4 {
  @include zent-font(medium, title);
}

.font-title-5 {
  @include zent-font(small, title);
}

.font-title-6 {
  @include zent-font(x-small, title);
}

.font-normal-1 {
  @include zent-font(small);
}

.font-normal-2 {
  @include zent-font(x-small);
}

.font-normal-3 {
  @include zent-font(xx-small);
}

.shadow-item {
  margin: 8px;
  display: inline-flex;
  width: 160px;
  height: 160px;
  align-items: center;
  justify-content: center;
}

.shadow-1 {
  @include zent-shadow(focus);
}

.shadow-2 {
  @include zent-shadow(layer);
}

.shadow-3 {
  @include zent-shadow(modal);
}

.spacing-item {
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include zent-color(background-color, body, bg);
  @include zent-border(border);
}

.spacing-1 {
  @include zent-spacing(margin-left, $xxx-large);
}

.spacing-2 {
  @include zent-spacing(margin-left, xx-large);
}

.spacing-3 {
  @include zent-spacing(margin-left, x-large);
}

.spacing-4 {
  @include zent-spacing(margin-left, large);
}

.spacing-5 {
  @include zent-spacing(margin-left, medium);
}

.spacing-6 {
  @include zent-spacing(margin-left, small);
}

.spacing-7 {
  @include zent-spacing(margin-left, x-small);
}

.spacing-8 {
  @include zent-spacing(margin-left, xx-small);
}

.radius-item {
  margin: 8px;
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  @include zent-color(background-color, section, bg);
}

.radius-1 {
  @include zent-radius(small);
}

.radius-2 {
  @include zent-radius(medium);
}
