@import '~sass-color-helpers/stylesheets/color-helpers/hsv-hsl';

$saturationLightStep: 40;
$saturationDraktStep: 5;
$brightnessLightStep: 5;
$brightnessDrakStep: 20;
$lightColor: 2;
$drakColor: 2;

@function getSaturation($h, $s, $v, $level, $light) {
  $saturation: 0;

  @if ($h == 0 and $s == 0) {
    @return $s;
  }
  @if ($light) {
    $saturation: $s - $saturationLightStep * $level;
  } @else {
    $saturation: $s + $saturationDraktStep * $level;
  }

  @if ($saturation > 100) {
    $saturation: 100%;
  }

  // 修正颜色饱和度不小于10%
  @if ($saturation < 10) {
    $saturation: 10%;
  }

  @return round($saturation);
}

@function getValue($h, $s, $v, $level, $light) {
  $value: $v;

  @if ($light) {
    $value: $v + $brightnessLightStep * $level;
  } @else {
    $value: $v - $brightnessDrakStep * $level;
  }

  @if ($value > 100) {
    $value: 100%;
  }

  @if ($value < 0) {
    $value: 0%;
  }

  @return $value;
}

@function generateLightColor($color, $level: 1) {
  $hsv: ch-color-to-hsv($color);

  $h: nth($hsv, 1);
  $s: nth($hsv, 2);
  $v: nth($hsv, 3);

  $adjustHue: $h;
  $adjustSaturation: getSaturation($h, $s, $v, $level, true);
  $adjustLight: getValue($h, $s, $v, $level, true);

  @return ch-hsv-to-color($adjustHue, $adjustSaturation, $adjustLight);
}

@function generateDrakColor($color, $level: 1) {
  $hsv: ch-color-to-hsv($color);

  $h: nth($hsv, 1);
  $s: nth($hsv, 2);
  $v: nth($hsv, 3);

  $adjustHue: $h;
  $adjustSaturation: getSaturation($h, $s, $v, $level, false);
  $adjustLight: getValue($h, $s, $v, $level, false);

  @return ch-hsv-to-color($adjustHue, $adjustSaturation, $adjustLight);
}
