@import '~sass-color-helpers/stylesheets/color-helpers/hsv-hsl';

$saturationLightStep: 15;
$saturationDrakStep: 0;
$brightnessLightStep: 0;
$brightnessDrakStep: 12;

@function getSaturation($h, $s, $v, $level, $light) {
  $saturation: 0;
  @if ($h == 0 and $s == 0) {
    @return $s;
  }
  @if ($light) {
    $saturation: $s - $saturationLightStep * $level;
  } @else {
    $saturation: $s + $saturationDrakStep * $level;
  }

  @if ($saturation > 100) {
    $saturation: 100;
  }

  @return round($saturation);
}

@function getValue($h, $s, $v, $level, $light) {
  @if ($light) {
    @return ($v + $brightnessLightStep * $level);
  }
  @return ($v - $brightnessDrakStep * $level);
}

@function generateLightColor($color, $level: 1) {
  $hsv: ch-color-to-hsv($color);

  $h: nth($hsv, 1);
  $s: nth($hsv, 2);
  $v: nth($hsv, 3);

  $adjustHue: $h;
  $adjustSaturation: getSaturation($h, $s, $v, $level, true);
  $adjustLight: getValue($h, $s, $v, $level, true);

  @return ch-hsv-to-color($adjustHue, $adjustSaturation, $adjustLight);
}

@function generateDrakColor($color, $level: 1) {
  $hsv: ch-color-to-hsv($color);

  $h: nth($hsv, 1);
  $s: nth($hsv, 2);
  $v: nth($hsv, 3);

  $adjustHue: $h;
  $adjustSaturation: getSaturation($h, $s, $v, $level, false);
  $adjustLight: getValue($h, $s, $v, $level, false);

  @return ch-hsv-to-color($adjustHue, $adjustSaturation, $adjustLight);
}
