@import './variables/color';
@import './variables/box';

// sass-lint:disable no-duplicate-properties
// !!! DO NOT USE !!!
// These variables will be removed
$notify-error: rgba(255, 68, 68, 0.8);
$notify-success: rgba(68, 187, 136, 0.8);

$name-mapping: (
  'stroke-1': #{$content-var}-#{$color-var},
  'stroke-2': #{$content-var}-#{$color-var},
  'stroke-3': #{$content-var}-#{$hint-color-var},
  'stroke-4': #{$content-var}-#{$disabled-color-var},
  'stroke-5': #{$content-var}-#{$border-color-var},
  'stroke-6': #{$content-var}-#{$border-color-var},
  'stroke-7': #{$content-var}-#{$bg-var},
  'stroke-8': #{$content-var}-#{$bg-var},
  'stroke-9': #{$body-var}-#{$bg-var},
  'stroke-10': #{$content-var}-#{$color-var},
  'stroke-11': #{$content-var}-#{$color-var},
  'primary-1': #{$component-primary-var}-#{$active-bg-var},
  'primary-2': #{$component-primary-var}-#{$active-bg-var},
  'primary-3': #{$component-primary-var}-#{$active-bg-var},
  'primary-4': #{$component-primary-var}-#{$bg-var},
  'primary-5': #{$component-primary-var}-#{$hover-bg-var},
  'primary-6': #{$component-primary-var}-#{$hover-bg-var},
  'primary-7': #{$component-primary-var}-#{$hover-bg-var},
  'primary-8': #{$component-primary-var}-#{$hover-bg-var},
  'success-1': #{$content-var}-#{$success-color-var},
  'success-2': #{$content-var}-#{$success-color-var},
  'success-3': #{$content-var}-#{$success-bg-var},
  'success-4': #{$content-var}-#{$success-color-var},
  'success-5': #{$content-var}-#{$success-bg-var},
  'error-1': #{$content-var}-#{$error-color-var},
  'error-2': #{$content-var}-#{$error-color-var},
  'error-3': #{$content-var}-#{$error-bg-var},
  'error-4': #{$content-var}-#{$error-color-var},
  'error-5': #{$content-var}-#{$error-bg-var},
  'warn-1': #{$content-var}-#{$warning-color-var},
  'warn-2': #{$content-var}-#{$warning-color-var},
  'warn-3': #{$content-var}-#{$warning-bg-var},
  'warn-4': #{$content-var}-#{$warning-color-var},
  'warn-5': #{$content-var}-#{$warning-bg-var},
);

@function get-color($cat, $i) {
  @return nth(map-get($theme-colors, $cat), $i);
}

@function to-rgb($color) {
  @return red($color), green($color), blue($color);
}

// Use this for color with opacity = 1
// This is for backword compatibily
@function get-css-var($cat, $i) {
  // sass-lint:disable-block space-around-operator
  @return --#{map-get($name-mapping, #{$cat}-#{$i})};
}

// Use this for rgba support in theme colors
@function get-rgb-css-var($cat, $i) {
  // sass-lint:disable-block space-around-operator
  @return --rgb-#{map-get($name-mapping, #{$cat}-#{$i})};
}

@function theme-rgb($cat, $i) {
  @return var(
    --theme-#{$cat}-#{$i},
    var(get-css-var($cat, $i), get-color($cat, $i))
  );
}

@function theme-rgba($cat, $i, $opacity) {
  $css-var: var(
    --theme-rgb-#{$cat}-#{$i},
    var(get-rgb-css-var($cat, $i), to-rgb(get-color($cat, $i)))
  );

  // `unquote` is a workaround for node-sass misinterprets rgba as builtin function
  // https://github.com/sass/node-sass/issues/2251
  // dart-sass doesn't seem to have this issue.
  @return unquote('rgba(#{$css-var}, #{$opacity})');
}

@mixin theme-color($prop, $cat, $i, $opacity: 1) {
  $color: get-color($cat, $i);
  // @debug $cat,$i, get-color($cat, $i);

  @if $opacity >= 1 {
    #{$prop}: $color;
    #{$prop}: theme-rgb($cat, $i);
  } @else {
    #{$prop}: rgba($color, $opacity);
    #{$prop}: theme-rgba($cat, $i, $opacity);
  }
}

@mixin theme-border-impl($prop, $width, $style, $cat, $i, $opacity) {
  $color: get-color($cat, $i);

  @if $opacity >= 1 {
    #{$prop}: $width $style $color;
    #{$prop}: $width $style theme-rgb($cat, $i);
  } @else {
    #{$prop}: $width $style rgba($color, $opacity);
    #{$prop}: $width $style theme-rgba($cat, $i, $opacity);
  }
}

@mixin theme-border($width, $style, $cat, $i, $opacity: 1) {
  @include theme-border-impl(border, $width, $style, $cat, $i, $opacity);
}

@mixin theme-border-top($width, $style, $cat, $i, $opacity: 1) {
  @include theme-border-impl(border-top, $width, $style, $cat, $i, $opacity);
}

@mixin theme-border-right($width, $style, $cat, $i, $opacity: 1) {
  @include theme-border-impl(border-right, $width, $style, $cat, $i, $opacity);
}

@mixin theme-border-bottom($width, $style, $cat, $i, $opacity: 1) {
  @include theme-border-impl(border-bottom, $width, $style, $cat, $i, $opacity);
}

@mixin theme-border-left($width, $style, $cat, $i, $opacity: 1) {
  @include theme-border-impl(border-left, $width, $style, $cat, $i, $opacity);
}

// Shadow
$shadow-spec-focus-var: $shadow-size-focus theme-rgba(primary, 1, 0.2) !default;
$shadow-spec-layer-var: $shadow-size-layer theme-rgba(stroke, 4, 0.5) !default;
$shadow-spec-modal-var: $shadow-size-modal theme-rgba(stroke, 4, 0.5) !default;

$theme-shadow: (
  $focus: $shadow-spec-focus,
  $layer: $shadow-spec-layer,
  $modal: $shadow-spec-modal,
);

$theme-shadow-var: (
  $focus: $shadow-spec-focus-var,
  $layer: $shadow-spec-layer-var,
  $modal: $shadow-spec-modal-var,
);

@mixin theme-shadow($name) {
  $shadow: map-get($theme-shadow, $name);
  $shadow-var: map-get($theme-shadow-var, $name);

  box-shadow: $shadow;
  box-shadow: var(--shadow-spec-#{$name}, $shadow-var);
}

// @mixin default-theme-variables {
//   @each $cat, $list in $theme-colors {
//     @for $i from 1 through length($list) {
//       #{--theme-#{$cat}-#{$i}}: nth($list, $i);
//     }
//   }
// }
