@import './zent-button-variable';
@import '../theme/font';
@import '../theme/default';

.zent-link {
  @include font-normal;

  text-decoration: none;
  color: $btn-primary;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 2px;

  &:link,
  &:visited,
  &:focus {
    color: $btn-primary;
  }

  &:hover {
    color: $btn-primary-hover;
    background: $theme-stroke-7;
  }

  &:active {
    color: $btn-primary-active;
    background: $theme-stroke-7;
  }

  &.zent-link__disabled {
    color: $btn-gray;
    cursor: not-allowed;
    pointer-events: none;
    background: transparent;
  }
}
