@import '../theme/default';
$btn-white: $theme-stroke-9;
$btn-gray: $theme-stroke-4;
$btn-light-gray: $theme-stroke-6;
$btn-primary: $theme-primary-4;
$btn-primary-hover: $theme-primary-5;
$btn-primary-active: $theme-primary-3;
$btn-danger: $theme-error-2;
$btn-danger-hover: $theme-error-3;
$btn-danger-active: $theme-error-1;
$btn-success: $theme-success-2;
$btn-success-hover: $theme-success-3;
$btn-success-active: $theme-success-1;
$btn-height-small: 24px;
$btn-height-normal: 32px;
$btn-height-large: 40px;
