.portal-simple {
    position: fixed;
    top: 300px;
    left: 300px;

    &.blue-bg {
        background: blue;
        color: white;
    }
}

.custom-portal {
    background: #fb3;
    color: white;
}
