.paper-create {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;

  &__actions {
    position: fixed;
    bottom: 10px;
    z-index: 20;
    width: 800px;
    text-align: center;
    padding: 10px 0;
    background: #ffc;
  }

  .zent-design {
    margin: 0 auto;
  }
}

.rc-choose-dialog-action-bar__left {
  a {
    display: none;
  }

  .zent-btn {
    margin-left: 0;
  }
}
