@import '../theme/default';
@import '../theme/font';

@mixin popup($z-index: 2000) {
  @include theme-color(background-color, stroke, 9);
  box-shadow: $shadow-spec-layer;
  outline: none;
  overflow: visible;
  position: relative;
  z-index: $z-index;
  border-radius: 3px;
  font-size: $font-size-normal;
}
