@import '../theme/default';

@mixin popup-menu-item-common {
  background-color: $theme-stroke-9;
  display: block;
  outline: none;
  padding: 7px 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin popup-menu-item-specific {
  &.current,
  &.hover,
  &:hover {
    background-color: $theme-primary-8;
  }

  &.active {
    font-weight: 500;
    background-color: $theme-stroke-8;
  }

  &.active:hover,
  &.active.hover,
  &.active.current {
    background-color: $theme-stroke-8;
  }
}

@mixin popup-menu-item {
  @include popup-menu-item-common;
  @include popup-menu-item-specific;
}
