@import '../theme/default';
@import '../theme/font';

@mixin popup {
  @include theme-shadow(layer);
  @include theme-color(background-color, stroke, 9);
  left: 0;
  outline: none;
  overflow-y: auto;
  position: relative;
  width: 100%;
  z-index: 2000;
  max-height: 224px;
  border-radius: 3px;
  font-size: $font-size-normal;
}
