$scroll-offset: 8;
$default-scroll-thumb-width: 4;
$scrollbar-thumb-color: rgba(0, 0, 0, 0.05);

@mixin custom-scroll-bar(
  $overflow: overflow,
  $color: $scrollbar-thumb-color,
  $width: $default-scroll-thumb-width
) {
  #{$overflow}: overlay;
  $scroll-width: $width + $scroll-offset * 2;

  &::-webkit-scrollbar {
    width: #{$scroll-width}px;
    height: #{$scroll-width}px;
    display: none;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: #{$scroll-width}px;
    background-clip: padding-box;
    border: #{$scroll-offset}px solid transparent;
  }
}
