@import '../theme/font';

.zent-font-weight-normal {
  font-weight: $font-weight-normal;
}

.zent-font-weight-medium {
  font-weight: $font-weight-medium;
}

.zent-font-weight-bold {
  font-weight: $font-weight-bold;
}

.zent-font-normal {
  @include font-normal;
}

.zent-font-small {
  @include font-small;
}

.zent-font-large {
  @include font-large;
}

.zent-font-h1 {
  @include font-h1;
}

.zent-font-h2 {
  @include font-h2;
}

.zent-font-h3 {
  @include font-h3;
}

.zent-font-h4 {
  @include font-h4;
}
