@import '../mixins/popup';

.zent-popup {
  @include popup;

  &-portal {
    overflow: visible;
  }

  &-content {
    padding: 10px;
  }

  &-arrow {
    width: 16px;
    height: 16px;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 16px 10px -20px rgba(0, 0, 0, 0.5);
    z-index: 2000;

    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #fff;
      transform: rotate(45deg);
      top: 12px;
      left: 4px;
      box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
    }
  }

  &-vertical-center {
    & .zent-popup-arrow {
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &-right {
    & .zent-popup-arrow {
      left: -16px;
      transform: rotate(-90deg);
    }
  }
}
