@import './variable';
@import '../theme/default';

.zent-design-preview {
  border: 1px solid $theme-stroke-6;
  width: $preview-width;
  min-height: $preview-height;
  position: relative;

  .zent-design-add-component-overlay--grouped {
    background: $theme-stroke-9;

    &:after {
      border-right-color: $theme-stroke-9;
    }
  }
}
