.icon-font {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
}

.icon-font:after {
    display: inline-block;
    font-size: 12px;
    color: #666;
}

.icon-font-heartbreak:after {
    content: '💔';
}

.icon-font-heart:after {
    content: '💖';
}
