@import 'reset-css/reset.css';

body {
  font-family: Helvetica, STHeiti, "Microsoft YaHei", Verdana, Arial, Tahoma, sans-serif;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 20px 0;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
