// sass-lint:disable no-important
@import './color-names';
@import '../color-generator';

// all color variable
$brand-background-alt: #fff !default; // 0,0,100
$brand-background-default: #f7f7f7 !default; // 0,0,97
$brand-border-default: #e0e0e0 !default; // 0,0,88
$brand-text-disabled: #ccc !default; // 0,0,80
$brand-text-weak: #999 !default; // 0,0,60
$brand-text-default: #333 !default; // 0,0,20

$brand-text-drak-default: #fff !default;
$brand-background-drak-default: #000 !default;
$brand-background-highlight: #e0e0e0 !default;

$brand-background-success: #efffe6 !default; // 98,10,100
$brand-success: #45a110 !default; // 98,90,63

$brand-background-warn: #ffefe6 !default; // 23,10,100
$brand-warn: #ed6a18 !default; // 23,90,93

$brand-background-error: #ffe9e6 !default; // 8,10,100
$brand-error: #d42f15 !default; // 8,90,83

$brand-primary-default: #155bd4 !default; // 218,90,83
$brand-primary-hover: generateColor(
  $brand-primary-default,
  1,
  true
) !default; // 218,75,85
$brand-primary-active: generateColor(
  $brand-primary-default,
  1,
  false
) !default; // 218,91,71

$rate-star: #edd418 !default;
$youzan: #e00 !default;

// color names
$brand: (
  $text: (
    $info: $brand-text-default,
    $disabled: $brand-text-disabled,
    $required: $brand-error,
    // var
    $primary: $brand-primary-default,
    $weak: $brand-text-weak,
    $destructive: $brand-error,
    $success: $brand-success,
    $warn: $brand-warn,
    $error: $brand-error,
    $icon: $brand-text-weak,
    $icon-disabled: $brand-text-disabled,
    $icon-success: $brand-success,
    $icon-warn: $brand-warn,
    $icon-error: $brand-error,
    $link: $brand-primary-default,
    $link-hover: $brand-primary-hover,
    $link-active: $brand-primary-active,
    $weak-link: $brand-text-weak,
    $weak-link-hover: $brand-primary-hover,
    $weak-link-active: $brand-primary-active,
    $behavior: $brand-text-drak-default,
    $alt-behavior-default: $brand-text-default,
    $alt-behavior-hover: $brand-primary-default,
    $alt-behavior-active: $brand-text-default,
    $weak-behavior: $brand-text-default,
    $hint: $brand-text-weak,
    'rate-star': $rate-star,
    'youzan': $youzan,
  ),
  $background: (
    $info: $brand-background-default,
    $disabled: $brand-background-default,
    $alt: $brand-background-alt,
    $success: $brand-background-success,
    $warn: $brand-background-warn,
    $error: $brand-background-error,
    $behavior-default: $brand-primary-default,
    $behavior-hover: $brand-primary-hover,
    $behavior-active: $brand-primary-active,
    $alt-behavior-default: $brand-background-alt,
    $alt-behavior-hover: $brand-background-alt,
    $alt-behavior-active: $brand-background-highlight,
    $weak-behavior-default: rgba($brand-background-drak-default, 0),
    $weak-behavior-hover: rgba($brand-background-drak-default, 0.1),
    $weak-behavior-active: rgba($brand-background-drak-default, 0.15),
  ),
  $border: (
    $info: $brand-border-default,
    $separator: $brand-border-default,
    $disabled: $brand-background-default,
    $success: $brand-success,
    $warn: $brand-warn,
    $error: $brand-error,
    $behavior-default: $brand-primary-default,
    $behavior-hover: $brand-primary-hover,
    $behavior-active: $brand-primary-active,
    $alt-behavior-default: $brand-border-default,
    $alt-behavior-hover: $brand-primary-default,
    $alt-behavior-active: $brand-border-default,
  ),
);

// old
// Text colors
$theme-stroke-1: $brand-text-default; // text
$theme-stroke-2: $brand-text-default; // text
$theme-stroke-3: $brand-text-weak; // help text
$theme-stroke-4: $brand-text-disabled; // disabled text

// Border and line colors
$theme-stroke-5: $brand-border-default;
$theme-stroke-6: $brand-border-default;

// Background colors
$theme-stroke-7: $brand-background-default;
$theme-stroke-8: $brand-background-default;
$theme-stroke-9: $brand-background-alt; // White button normal background color

// Button background color
$theme-stroke-10: $brand-background-highlight; // Active
$theme-stroke-11: $brand-background-default; // Hover

// Blue(primary)
$theme-primary-1: $brand-primary-active;
$theme-primary-2: $brand-primary-active;
$theme-primary-3: $brand-primary-active;
$theme-primary-4: $brand-primary-default;
$theme-primary-5: $brand-primary-hover;
$theme-primary-6: $brand-primary-hover;
$theme-primary-7: $brand-primary-hover;
$theme-primary-8: $brand-primary-hover;

// Green
$theme-success-1: $brand-success;
$theme-success-2: $brand-success;
$theme-success-3: $brand-background-success;
$theme-success-4: $brand-success;
$theme-success-5: $brand-background-success;

// Red
$theme-error-1: $brand-error;
$theme-error-2: $brand-error;
$theme-error-3: $brand-background-error;
$theme-error-4: $brand-error;
$theme-error-5: $brand-background-error;

// Orange
$theme-warn-1: $brand-warn;
$theme-warn-2: $brand-warn;
$theme-warn-3: $brand-background-warn;
$theme-warn-4: $brand-warn;
$theme-warn-5: $brand-background-warn;

// Rate color
$rate-star-color: $rate-star;

$loading-icon-youzan-color: $youzan;

$theme-colors: (
  'stroke': (
    $theme-stroke-1,
    $theme-stroke-2,
    $theme-stroke-3,
    $theme-stroke-4,
    $theme-stroke-5,
    $theme-stroke-6,
    $theme-stroke-7,
    $theme-stroke-8,
    $theme-stroke-9,
    $theme-stroke-10,
    $theme-stroke-11,
  ),
  'primary': (
    $theme-primary-1,
    $theme-primary-2,
    $theme-primary-3,
    $theme-primary-4,
    $theme-primary-5,
    $theme-primary-6,
    $theme-primary-7,
    $theme-primary-8,
  ),
  $success: (
    $theme-success-1,
    $theme-success-2,
    $theme-success-3,
    $theme-success-4,
    $theme-success-5,
  ),
  $error: (
    $theme-error-1,
    $theme-error-2,
    $theme-error-3,
    $theme-error-4,
    $theme-error-5,
  ),
  $warn: (
    $theme-warn-1,
    $theme-warn-2,
    $theme-warn-3,
    $theme-warn-4,
    $theme-warn-5,
  ),
);
