// sass-lint:disable no-important
//  all color variables and semantic name
@import './raw-vars';
@import '../override';

$green-100: generateLightColor($green-base, 5);
$green-400: generateLightColor($green-base, 1);
$green-500: $green-base;
$green-600: generateDarkColor($green-base, 1);

$orange-100: generateLightColor($orange-base, 4);
$orange-400: generateLightColor($orange-base, 1);
$orange-500: $orange-base;
$orange-600: generateDarkColor($orange-base, 1);

$red-100: generateLightColor($red-base, 4);
$red-400: generateLightColor($red-base, 1);
$red-500: $red-base;
$red-600: generateDarkColor($red-base, 1);

$blue-100: generateLightColor($blue-base, 4);
$blue-400: generateLightColor($blue-base, 1);
$blue-500: $blue-base;
$blue-600: generateDarkColor($blue-base, 1);

$yellow-100: generateLightColor($yellow-base, 4);
$yellow-400: generateLightColor($yellow-base, 1);
$yellow-500: $yellow-base;
$yellow-600: generateDarkColor($yellow-base, 1);

$primary-100: generateLightColor($primary-base, 4);
$primary-400: generateLightColor($primary-base, 1);
$primary-500: $primary-base;
$primary-600: generateDarkColor($primary-base, 1);

$title-colors: (
  color: $gray-500,
);

// colors when it`s for hint
$hint-colors: (
  color: $gray-400,
);

// colors when it`s disabled
$disabled-colors: (
  color: $gray-300,
);

// mostly use in section, card
$section-colors: (
  'bg': $gray-100,
  'shadow': $shadow-color,
  'border-color': $gray-200,
);

$body-colors: (
  'color': $gray-500,
  'bg': $white,
);

$success-colors: (
  'color': $green-500,
  'bg': $green-100,
  'border-color': $green-500,
);

$warning-colors: (
  'color': $orange-500,
  'bg': $orange-100,
  'border-color': $orange-500,
);

$danger-colors: (
  'color': $red-500,
  'bg': $red-100,
  'border-color': $red-500,
);

$link-colors: (
  'color': $primary-500,
  'hover-color': $primary-400,
  'active-color': $primary-600,
);

$default-colors: (
  'hover-color': $primary-500,
  'hover-bg': $primary-100,
  'hover-border-color': $primary-500,
  'selected': $gray-100,
  'disabled-color': $gray-300,
  'disabled-bg': $gray-100,
  'disabled-border-color': $gray-300,
);

$primary-colors: (
  'color': $white,
  'bg': $primary-500,
  'border-color': $primary-500,
  'hover-bg': $primary-400,
  'hover-border-color': $primary-400,
  'active-bg': $primary-600,
  'active-border-color': $primary-600,
);

// components
$weak-link-colors: (
  'color': $gray-400,
  'hover-color': $primary-400,
  'active-color': $primary-600,
);

$rate-colors: (
  'bg': $yellow-500,
);

// 所有种类颜色的集合
$colors-map: (
  'title': $title-colors,
  'hint': $hint-colors,
  'disabled': $disabled-colors,
  'body': $body-colors,
  'section': $section-colors,
  'success': $success-colors,
  'warning': $warning-colors,
  'danger': $danger-colors,
  'link': $link-colors,
  'default': $default-colors,
  'primary': $primary-colors,
  'weak-link': $weak-link-colors,
  'rate': $rate-colors,
);

// old
// Text colors
$theme-stroke-1: map-get($title-colors, color); // text
$theme-stroke-2: map-get($hint-colors, color); // text
$theme-stroke-3: map-get($hint-colors, color); // help text
$theme-stroke-4: map-get($disabled-colors, color); // disabled text

// Border and line colors
$theme-stroke-5: map-get($section-colors, border-color);
$theme-stroke-6: map-get($section-colors, border-color);

// Background colors
$theme-stroke-7: map-get($section-colors, bg);
$theme-stroke-8: map-get($section-colors, bg);
$theme-stroke-9: map-get(
  map-get($colors-map, 'body'),
  'bg'
); // White button normal background color

// Button background color
$theme-stroke-10: map-get($section-colors, border-color); // Active
$theme-stroke-11: map-get(map-get($colors-map, 'body'), 'bg'); // Hover

// Blue(primary)
$theme-primary-1: map-get(map-get($colors-map, 'primary'), 'active-bg');
$theme-primary-2: map-get(map-get($colors-map, 'primary'), 'active-bg');
$theme-primary-3: map-get(map-get($colors-map, 'primary'), 'active-bg');
$theme-primary-4: map-get(map-get($colors-map, 'primary'), 'bg');
$theme-primary-5: map-get(map-get($colors-map, 'primary'), 'hover-bg');
$theme-primary-6: map-get(map-get($colors-map, 'primary'), 'hover-bg');
$theme-primary-7: map-get(map-get($colors-map, 'primary'), 'hover-bg');
$theme-primary-8: map-get(map-get($colors-map, 'default'), 'hover-bg');

// Green
$theme-success-1: map-get(map-get($colors-map, 'success'), 'color');
$theme-success-2: map-get(map-get($colors-map, 'success'), 'color');
$theme-success-3: map-get(map-get($colors-map, 'success'), 'bg');
$theme-success-4: map-get(map-get($colors-map, 'success'), 'color');
$theme-success-5: map-get(map-get($colors-map, 'success'), 'bg');

// Red
$theme-error-1: map-get(map-get($colors-map, 'danger'), 'color');
$theme-error-2: map-get(map-get($colors-map, 'danger'), 'color');
$theme-error-3: map-get(map-get($colors-map, 'danger'), 'bg');
$theme-error-4: map-get(map-get($colors-map, 'danger'), 'color');
$theme-error-5: map-get(map-get($colors-map, 'danger'), 'bg');

// Orange
$theme-warn-1: map-get(map-get($colors-map, 'warning'), 'color');
$theme-warn-2: map-get(map-get($colors-map, 'warning'), 'color');
$theme-warn-3: map-get(map-get($colors-map, 'warning'), 'bg');
$theme-warn-4: map-get(map-get($colors-map, 'warning'), 'color');
$theme-warn-5: map-get(map-get($colors-map, 'warning'), 'bg');

$loading-icon-youzan-color: #e00 !default;

// !!! DO NOT USE !!!
// These variables will be removed
$notify-error: rgba(255, 68, 68, 0.8);
$notify-success: rgba(68, 187, 136, 0.8);
$rate-star-color: map-get($rate-colors, 'bg');

// 旧版语义和新版语义的映射关系
$theme-colors: (
  'stroke': (
    (
      cat: 'title',
      attr: 'color',
    ),
    (
      cat: 'hint',
      attr: 'color',
    ),
    (
      cat: 'hint',
      attr: 'color',
    ),
    (
      cat: 'disabled',
      attr: 'color',
    ),
    (
      cat: 'section',
      attr: 'border-color',
    ),
    (
      cat: 'section',
      attr: 'border-color',
    ),
    (
      cat: 'section',
      attr: 'bg',
    ),
    (
      cat: 'section',
      attr: 'bg',
    ),
    (
      cat: 'body',
      attr: 'bg',
    ),
    (
      cat: 'section',
      attr: 'border-color',
    ),
    (
      cat: 'body',
      attr: 'bg',
    ),
  ),
  'primary': (
    (
      cat: 'primary',
      attr: 'active-bg',
    ),
    (
      cat: 'primary',
      attr: 'active-bg',
    ),
    (
      cat: 'primary',
      attr: 'active-bg',
    ),
    (
      cat: 'primary',
      attr: 'bg',
    ),
    (
      cat: 'primary',
      attr: 'hover-bg',
    ),
    (
      cat: 'primary',
      attr: 'hover-bg',
    ),
    (
      cat: 'primary',
      attr: 'hover-bg',
    ),
    (
      cat: 'default',
      attr: 'hover-bg',
    ),
  ),
  'success': (
    (
      cat: 'success',
      attr: 'color',
    ),
    (
      cat: 'success',
      attr: 'color',
    ),
    (
      cat: 'success',
      attr: 'bg',
    ),
    (
      cat: 'success',
      attr: 'color',
    ),
    (
      cat: 'success',
      attr: 'bg',
    ),
  ),
  'error': (
    (
      cat: 'danger',
      attr: 'color',
    ),
    (
      cat: 'danger',
      attr: 'color',
    ),
    (
      cat: 'danger',
      attr: 'bg',
    ),
    (
      cat: 'danger',
      attr: 'color',
    ),
    (
      cat: 'danger',
      attr: 'bg',
    ),
  ),
  'warn': (
    (
      cat: 'warning',
      attr: 'color',
    ),
    (
      cat: 'warning',
      attr: 'color',
    ),
    (
      cat: 'warning',
      attr: 'bg',
    ),
    (
      cat: 'warning',
      attr: 'color',
    ),
    (
      cat: 'warning',
      attr: 'bg',
    ),
  ),
);
