$brand: 'brand' !default;
$text: 'text' !default;
$background: 'background' !default;
$border: 'border' !default;
$icon: 'icon' !default;

// behavior color
$default: 'default' !default;
$active: 'active' !default;
$hover: 'hover' !default;

// notify color
$success: 'success' !default;
$warn: 'warn' !default;
$error: 'error' !default;

// text color
$disabled: 'disabled' !default;
$header: 'header' !default;
$body: 'body' !default;
$weaken: 'weaken' !default;
$link: 'link' !default;
$white: 'white' !default;

$headline: 'headline' !default;
$subtitle: 'subtitle' !default;
$overline: 'overline' !default;
