// the raw variables, use in box size, colors, font size, font weight, line height
// can reset these variables in _override.scss and recompile, to cover old
@import '../color-generator';

// all color variable
$white: #fff !default;
$gray-100: #f7f7f7 !default;
$gray-200: #e0e0e0 !default;
$gray-300: #ccc !default;
$gray-400: #999 !default;
$gray-500: #333 !default;
$black: #000 !default;

$green-base: #45a110 !default;
$orange-base: #ed6a18 !default;
$red-base: #d42f15 !default;
$yellow-base: #edd418 !default;
$blue-base: #155bd4 !default;

$primary-base: $blue-base;

$shadow-color: $black;

// size
$spacing-size: (4px, 8px, 12px, 16px, 24px, 32px, 56px, 88px);

$border-radius-size: (2px, 4px);

$border-width-size: (1px);

$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  Segoe UI, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', STHeiti,
  SimSun, sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// font size
$font-size-number: (
  34px,
  // 1
  28px,
  // 2
  24px,
  // 3
  20px,
  // 4
  16px,
  // 5
  14px,
  // 6
  12px // 7
);

$line-height-number: (
  44px,
  // 1
  36px,
  // 2
  30px,
  // 3
  26px,
  // 4
  24px,
  // 5
  20px,
  // 6
  18px // 7
);

$break-size: 16px;

$shadow-size-focus: 0 2px 8px 0 !default;
$shadow-size-layer: 0 2px 16px 0 !default;
$shadow-size-modal: 0 2px 24px 0 !default;

$shadow-spec-focus: $shadow-size-focus rgba($shadow-color, 0.1) !default;
$shadow-spec-layer: $shadow-size-layer rgba($shadow-color, 0.1) !default;
$shadow-spec-modal: $shadow-size-modal rgba($shadow-color, 0.1) !default;
