@import '../color-generator';

// all color variable
$brand-white: #fff !default; // background color
$brand-body-bg: #f7f7f7 !default; // body background color
$brand-border-color: #e0e0e0 !default; // border color
$brand-disabled-color: #ccc !default; // disabled text color
$brand-hint-color: #999 !default; // hint text color
$brand-text-color: #333 !default; // text color

$brand-success-bg: #efffe6 !default; // 98,10,100
$brand-success-color: #45a110 !default; // 98,90,63

$brand-warning-bg: #ffefe6 !default; // 23,10,100
$brand-warning-color: #ed6a18 !default; // 23,90,93

$brand-error-bg: #ffe9e6 !default; // 8,10,100
$brand-error-color: #d42f15 !default; // 8,90,83

$brand-primary-color: #155bd4 !default; // 218,90,83
$brand-primary-hover-color: generateLightColor(
  $brand-primary-color
) !default; // 218,75,85
$brand-primary-active-color: generateDrakColor(
  $brand-primary-color
) !default; // 218,91,71

$rate-star-color: #edd418 !default;

// size
$spacing-size: (4px, 8px, 12px, 16px, 24px, 32px, 56px, 88px);

$border-radius-size: (2px, 4px);

$border-width-size: (1px);

$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  Segoe UI, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', STHeiti,
  SimSun, sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// font size
$font-size-number: (
  34px,
  // 1
  28px,
  // 2
  24px,
  // 3
  20px,
  // 4
  16px,
  // 5
  14px,
  // 6
  12px // 7
);

$line-height-1: 1.25;
$line-height-2: 1.5;

$break-size: 16px;

$shadow-size-focus: 0 0 4px 0 !default;
$shadow-size-layer: 0 2px 8px 0 !default;
$shadow-size-modal: 0 2px 24px 0 !default;

$shadow-spec-focus: $shadow-size-focus rgba($brand-primary-color, 0.2) !default;
$shadow-spec-layer: $shadow-size-layer rgba($brand-disabled-color, 0.5) !default;
$shadow-spec-modal: $shadow-size-modal rgba($brand-disabled-color, 0.5) !default;
