// description
$xx-small: 'xx-small' !default;
$x-small: 'x-small' !default;
$small: 'small' !default;
$medium: 'medium' !default;
$large: 'large' !default;
$x-large: 'x-large' !default;
$xx-large: 'xx-large' !default;
$xxx-large: 'xxx-large' !default;

$normal: 'normal' !default;
$bold: 'bold' !default;

$text: 'text' !default;
$heading: 'heading' !default;

$focus: 'focus' !default;
$layer: 'layer' !default;
$modal: 'modal' !default;

// mixin
$weight-normal: 'weight-normal' !default;
$weight-medium: 'weight-medium' !default;
$weight-bold: 'weight-bold' !default;
