// 颜色的语义值，包含了旧版的映射处理
@import '../override';
@import '../raw-vars';
@import '../color-generator';

$success-100: generateLighterColor($green-base, 5);
$success-400: generateLighterColor($green-base, 1);
$success-500: $green-base;
$success-600: generateDarkerColor($green-base, 1);

$warning-100: generateLighterColor($orange-base, 4);
$warning-400: generateLighterColor($orange-base, 1);
$warning-500: $orange-base;
$warning-600: generateDarkerColor($orange-base, 1);

$danger-100: generateLighterColor($red-base, 4);
$danger-400: generateLighterColor($red-base, 1);
$danger-500: $red-base;
$danger-600: generateDarkerColor($red-base, 1);

$primary-100: generateLighterColor($blue-base, 4);
$primary-400: generateLighterColor($blue-base, 1);
$primary-500: $blue-base;
$primary-600: generateDarkerColor($blue-base, 1);

$text-100: $gray-100;
$text-200: $gray-200;
$text-300: $gray-300;
$text-400: $gray-400;
$text-500: $gray-500;
$text-600: $gray-600;
$text-700: $gray-700;

$title-colors: (
  'color': $text-600,
);

// colors when it`s for hint
$hint-colors: (
  'color': $text-500,
);

// colors when it`s disabled
$disabled-colors: (
  'color': $text-400,
);

// mostly use in section, card
$section-colors: (
  'bg': $text-200,
  'shadow': $shadow-color,
  'border-color': $text-300,
);

$body-colors: (
  'color': $text-600,
  'bg': $text-100,
);

$success-colors: (
  'color': $success-500,
  'bg': $success-100,
  'border-color': $success-500,
);

$warning-colors: (
  'color': $warning-500,
  'bg': $warning-100,
  'border-color': $warning-500,
);

$danger-colors: (
  'color': $danger-500,
  'bg': $danger-100,
  'border-color': $danger-500,
);

$link-colors: (
  'color': $primary-500,
  'hover-color': $primary-400,
  'active-color': $primary-600,
);

$default-colors: (
  'hover-color': $primary-500,
  'hover-bg': $primary-100,
  'hover-border-color': $primary-500,
  'selected': $text-200,
  'disabled-color': $text-400,
  'disabled-bg': $text-200,
  'disabled-border-color': $text-400,
);

$primary-colors: (
  'color': $text-100,
  'bg': $primary-500,
  'border-color': $primary-500,
  'hover-bg': $primary-400,
  'hover-border-color': $primary-400,
  'active-bg': $primary-600,
  'active-border-color': $primary-600,
);

// components
$weak-link-colors: (
  'color': $text-500,
  'hover-color': $primary-400,
  'active-color': $primary-600,
);

$rate-colors: (
  'bg': $star-color,
);

// 所有种类颜色的集合
$color-sets: (
  'title': $title-colors,
  'hint': $hint-colors,
  'disabled': $disabled-colors,
  'body': $body-colors,
  'section': $section-colors,
  'success': $success-colors,
  'warning': $warning-colors,
  'danger': $danger-colors,
  'link': $link-colors,
  'default': $default-colors,
  'primary': $primary-colors,
  'weak-link': $weak-link-colors,
  'rate': $rate-colors,
);

// old
// Text colors
$theme-stroke-1: map-get($title-colors, 'color'); // text
$theme-stroke-2: map-get($hint-colors, 'color'); // text
$theme-stroke-3: map-get($hint-colors, 'color'); // help text
$theme-stroke-4: map-get($disabled-colors, 'color'); // disabled text

// Border and line colors
$theme-stroke-5: map-get($section-colors, 'border-color');
$theme-stroke-6: map-get($section-colors, 'border-color');

// Background colors
$theme-stroke-7: map-get($section-colors, 'bg');
$theme-stroke-8: map-get($section-colors, 'bg');
$theme-stroke-9: map-get(
  $body-colors,
  'bg'
); // White button normal background color

// Button background color
$theme-stroke-10: map-get($section-colors, 'border-color'); // Active
$theme-stroke-11: map-get(map-get($color-sets, 'body'), 'bg'); // Hover

// Blue(primary)
$theme-primary-1: map-get(map-get($color-sets, 'primary'), 'active-bg');
$theme-primary-2: map-get(map-get($color-sets, 'primary'), 'active-bg');
$theme-primary-3: map-get(map-get($color-sets, 'primary'), 'active-bg');
$theme-primary-4: map-get(map-get($color-sets, 'primary'), 'bg');
$theme-primary-5: map-get(map-get($color-sets, 'primary'), 'hover-bg');
$theme-primary-6: map-get(map-get($color-sets, 'primary'), 'hover-bg');
$theme-primary-7: map-get(map-get($color-sets, 'primary'), 'hover-bg');
$theme-primary-8: map-get(map-get($color-sets, 'default'), 'hover-bg');

// Green
$theme-success-1: map-get(map-get($color-sets, 'success'), 'color');
$theme-success-2: map-get(map-get($color-sets, 'success'), 'color');
$theme-success-3: map-get(map-get($color-sets, 'success'), 'hover-bg');
$theme-success-4: map-get(map-get($color-sets, 'success'), 'color');
$theme-success-5: map-get(map-get($color-sets, 'success'), 'bg');

// Red
$theme-error-1: map-get(map-get($color-sets, 'danger'), 'color');
$theme-error-2: map-get(map-get($color-sets, 'danger'), 'color');
$theme-error-3: map-get(map-get($color-sets, 'danger'), 'hover-bg');
$theme-error-4: map-get(map-get($color-sets, 'danger'), 'color');
$theme-error-5: map-get(map-get($color-sets, 'danger'), 'bg');

// Orange
$theme-warn-1: map-get(map-get($color-sets, 'warning'), 'color');
$theme-warn-2: map-get(map-get($color-sets, 'warning'), 'color');
$theme-warn-3: map-get(map-get($color-sets, 'warning'), 'hover-bg');
$theme-warn-4: map-get(map-get($color-sets, 'warning'), 'color');
$theme-warn-5: map-get(map-get($color-sets, 'warning'), 'bg');

$loading-icon-youzan-color: #e00 !default;

// !!! DO NOT USE !!!
// These variables will be removed
$notify-error: rgba(255, 68, 68, 0.8);
$notify-success: rgba(68, 187, 136, 0.8);
$rate-star-color: map-get($rate-colors, 'bg');

// 旧版语义和新版语义的映射关系
$theme-colors: (
  'stroke': (
    (
      cat: 'title',
      attr: 'color',
    ),
    (
      cat: 'hint',
      attr: 'color',
    ),
    (
      cat: 'hint',
      attr: 'color',
    ),
    (
      cat: 'disabled',
      attr: 'color',
    ),
    (
      cat: 'section',
      attr: 'border-color',
    ),
    (
      cat: 'section',
      attr: 'border-color',
    ),
    (
      cat: 'section',
      attr: 'bg',
    ),
    (
      cat: 'section',
      attr: 'bg',
    ),
    (
      cat: 'body',
      attr: 'bg',
    ),
    (
      cat: 'section',
      attr: 'border-color',
    ),
    (
      cat: 'body',
      attr: 'bg',
    ),
  ),
  'primary': (
    (
      cat: 'primary',
      attr: 'active-bg',
    ),
    (
      cat: 'primary',
      attr: 'active-bg',
    ),
    (
      cat: 'primary',
      attr: 'active-bg',
    ),
    (
      cat: 'primary',
      attr: 'bg',
    ),
    (
      cat: 'primary',
      attr: 'hover-bg',
    ),
    (
      cat: 'primary',
      attr: 'hover-bg',
    ),
    (
      cat: 'primary',
      attr: 'hover-bg',
    ),
    (
      cat: 'default',
      attr: 'hover-bg',
    ),
  ),
  'success': (
    (
      cat: 'success',
      attr: 'color',
    ),
    (
      cat: 'success',
      attr: 'color',
    ),
    (
      cat: 'success',
      attr: 'bg',
    ),
    (
      cat: 'success',
      attr: 'color',
    ),
    (
      cat: 'success',
      attr: 'bg',
    ),
  ),
  'error': (
    (
      cat: 'danger',
      attr: 'color',
    ),
    (
      cat: 'danger',
      attr: 'color',
    ),
    (
      cat: 'danger',
      attr: 'bg',
    ),
    (
      cat: 'danger',
      attr: 'color',
    ),
    (
      cat: 'danger',
      attr: 'bg',
    ),
  ),
  'warn': (
    (
      cat: 'warning',
      attr: 'color',
    ),
    (
      cat: 'warning',
      attr: 'color',
    ),
    (
      cat: 'warning',
      attr: 'bg',
    ),
    (
      cat: 'warning',
      attr: 'color',
    ),
    (
      cat: 'warning',
      attr: 'bg',
    ),
  ),
);
