@import './color';
@import './box';
@import './text';

@function to-rgb($color) {
  @return red($color), green($color), blue($color);
}

@function is-old-theme($cat, $attr) {
  $colors: map-get($colors-map, $cat);
  $color: if($colors, map-get($colors, $attr), null);

  @if $color != null and $color {
    @return false;
  }
  @return true;
}

@function get-color-value($cat, $attr) {
  @return map-get(map-get($colors-map, $cat), $attr);
}

@function get-old-color($cat, $i) {
  $map-info: nth(map-get($theme-colors, $cat), $i);

  @return get-color-value(map-get($map-info, cat), map-get($map-info, attr));
}

@function get-css-prefix() {
  @return '--theme';
}

@function get-css-prefix-rgb() {
  @return '--theme-rbg';
}

@function get-css-var-name($cat, $attr) {
  @return #{$cat}-#{$attr};
}

@function get-old-css-var($cat, $i) {
  $map-info: nth(map-get($theme-colors, $cat), $i);
  // sass-lint:disable-block space-around-operator
  @return #{map-get($map-info, cat)}-#{map-get($map-info, attr)};
}

@function get-color($cat, $attr) {
  @if is-old-theme($cat, $attr) == true {
    @return get-old-color($cat, $attr);
  } @else {
    @return get-color-value($cat, $attr);
  }
}

@function get-css-var($cat, $attr) {
  $prefix: get-css-prefix();
  @if is-old-theme($cat, $attr) == true {
    @return #{$prefix}-#{get-old-css-var($cat, $attr)};
  }
  @return #{$prefix}-#{get-css-var-name($cat, $attr)};
}

@function get-rgb-css-var($cat, $attr) {
  $prefix: get-css-prefix-rgb();
  @if is-old-theme($cat, $attr) == true {
    @return #{$prefix}-#{get-old-css-var($cat, $attr)};
  }
  @return #{$prefix}-rgb-#{get-css-var-name($cat, $attr)};
}

@function get-size-var($map, $attr, $name) {
  $size: map-get($map, $attr);

  @return var(--#{$name}-#{$attr}, $size);
}

@function get-font-size-var($attr) {
  @return get-size-var($font-size, $attr, 'font-size');
}

@function get-font-weight-var($attr) {
  @return get-size-var($font-weight, $attr, 'font-weight');
}

@function get-line-height-var($attr) {
  @return get-size-var($line-height, $attr, 'line-height');
}

@function get-spacing-var($attr) {
  @return get-size-var($spacing, $attr, 'spacing');
}

@function get-border-radius-var($attr) {
  @return get-size-var($border-radius, $attr, 'border-radius');
}

@function get-border-width-var($attr) {
  @return get-size-var($border-width, $attr, 'border-width');
}
