@import '../theme/default';
@import '../theme/timing-functions';

.zent-switch-checked {
  border-color: $switch-on;
  background-color: $switch-on;

  &::after {
    left: 23px;
  }
}

.zent-switch-disabled {
  cursor: not-allowed;
  background: $switch-disabled;
  border-color: $switch-disabled;

  &.zent-switch-checked {
    background: $switch-disabled-checked;
    border-color: $switch-disabled-checked;
  }

  &::after {
    background: $switch-disabled-after;
    cursor: not-allowed;
    opacity: 0.75;
  }
}

.zent-switch-loading {
  position: relative;
  color: transparent;
  cursor: not-allowed;

  &::after {
    cursor: not-allowed;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 43%;
    left: 38%;
    z-index: 2;
    width: 12px;
    height: 12px;
    margin: -5px 0 0 -12px;
    border: 2px solid rgba(black, 0.2);
    border-radius: 100%;
    box-sizing: border-box;
    border-color: $theme-primary-8 $theme-primary-8 $theme-primary-4
      $theme-primary-4;
    animation: switch-spin 1s $timing-fn-linear;
    animation-iteration-count: infinite;
  }

  &.zent-switch-checked {
    &::before {
      margin: -5px 0 0 10px;
    }
  }

  // small switch
  &.zent-switch-small {
    &::before {
      width: 8px;
      height: 8px;
      margin: -3px 0 0 -7px;
      border-width: 1px;
    }

    &.zent-switch-checked {
      &::before {
        margin: -3px 0 0 5px;
      }
    }
  }

  // large switch not use
  &.zent-switch-large {
    &::before {
      margin: -5px 0 0 -17px;
    }

    &.zent-switch-checked {
      &::before {
        margin: -5px 0 0 23px;
      }
    }
  }
}

@keyframes switch-spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
