@import '../theme/default';

$switch-off: $theme-stroke-4;
$switch-on: $theme-primary-4;
$switch-disabled: $theme-stroke-5;
$switch-disabled-after: $theme-stroke-9;
$switch-disabled-checked: $theme-primary-7;
