.zent-alert-size-large {
    .text {
        font-weight: bold;
    }
}

.zent-alert-size-large.zent-alert-style-warning, .zent-alert-size-large.zent-alert-style-info {
    button {
        width: 85px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #EE3333;
        outline: none;
        background: #FF4444;
        color: #fff;
        font-size: 14px;
        margin-left: 20px;
    }

    .content {
        width: 400px;
        display: inline-block;
        vertical-align: middle;
        white-space: pre-line;
    }
}
