@import './theme/default';
@import './theme/font';

$border-color-map: (
  info: $theme-primary-7,
  success: $theme-success-4,
  warning: $theme-warn-2,
  error: $theme-error-4,
);

$bg-color-map: (
  info: $theme-primary-8,
  success: $theme-success-5,
  warning: $theme-warn-3,
  error: $theme-error-5,
);

$icon-color-map: (
  info: $theme-primary-4,
  success: $theme-success-2,
  warning: $theme-warn-1,
  error: $theme-error-2,
);

$types: 'info', 'success', 'warning', 'error';

.zent-alert {
  @include font-normal;
  box-sizing: border-box;
  padding: 12px 16px;
  border: 1px solid $theme-stroke-5;
  display: flex;

  &-content {
    flex: 1 1 auto;
  }

  &-close-wrapper {
    cursor: pointer;

    .zent-alert-close-btn {
      margin-left: 16px;
      font-size: 12px;
      width: 16px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: $theme-stroke-4;
    }
  }

  &-extra-content {
    margin: -6px 0 -6px 16px;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
  }

  &-icon {
    margin-right: 8px;

    &.zenticon,
    .zent-loading-icon-and-text {
      width: 16px;
      height: 20px;
      line-height: 20px;
    }
  }

  &-border-rounded {
    border-radius: 2px;
  }

  @each $type in $types {
    &-style-#{$type} {
      background: map-get($map: $bg-color-map, $key: $type);
      border-color: map-get($map: $border-color-map, $key: $type);

      .zent-alert-icon {
        color: map-get($map: $icon-color-map, $key: $type);
      }
    }
  }
}
