@import './theme/default';
@import './theme/font';

$border-color-map: (
  info: $theme-primary-7,
  success: $theme-success-4,
  warning: $theme-warn-2,
  error: $theme-error-4,
);

$bg-color-map: (
  info: $theme-primary-8,
  success: $theme-success-5,
  warning: $theme-warn-3,
  error: $theme-error-5,
);

$icon-color-map: (
  info: $theme-primary-4,
  success: $theme-success-2,
  warning: $theme-warn-1,
  error: $theme-error-2,
);

$outline-color-map: (
  info: $theme-primary-4,
  success: $theme-success-2,
  warning: $theme-warn-1,
  error: $theme-error-2,
);

$highlight-color-map: (
  info: $theme-primary-4,
  success: $theme-success-2,
  warning: $theme-warn-1,
  error: $theme-error-2,
);

$types: 'info', 'success', 'warning', 'error';

.zent-alert {
  @include font-normal;
  box-sizing: border-box;
  padding: 12px 16px;
  border: 1px solid $theme-stroke-5;
  color: $theme-stroke-1;
  display: flex;

  &-content {
    flex: 1 1 auto;

    &__highlight {
      font-weight: $font-weight-medium;
    }

    &__title {
      font-weight: $font-weight-medium;

      + .zent-alert-content__description {
        margin-top: 8px;
      }
    }
  }

  &-close-wrapper {
    cursor: pointer;

    .zent-alert-close-btn {
      margin-left: 16px;
      font-size: 12px;
      width: 16px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: $theme-stroke-4;
    }
  }

  &-extra-content {
    margin: -6px 0 -6px 16px;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
  }

  &-icon {
    margin-right: 8px;

    &.zenticon,
    .zent-loading-icon-and-text {
      width: 16px;
      height: 20px;
      line-height: 20px;
    }
  }

  &-border-rounded {
    border-radius: 2px;
  }

  &-outline {
    &.zent-alert-border-rounded {
      border-radius: 4px;
    }
  }
}

@each $type in $types {
  .zent-alert-style-#{$type} {
    background: map-get($map: $bg-color-map, $key: $type);
    border-color: map-get($map: $border-color-map, $key: $type);

    .zent-alert-content__highlight {
      color: map-get($map: $highlight-color-map, $key: $type);
    }

    &.zent-alert-outline {
      background: $theme-stroke-9;
      border: 1px solid $theme-stroke-5;
      border-top: 4px solid map-get($map: $outline-color-map, $key: $type);

      .zent-alert-content__title {
        color: map-get($map: $outline-color-map, $key: $type);
      }
    }

    .zent-alert-icon {
      color: map-get($map: $icon-color-map, $key: $type);
    }
  }
}
