@import './theme/default';

.zent-auto-complete {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  line-height: 1.5;
  margin-right: 10px;
  outline: none;
  position: relative;
  text-align: left;
  user-select: none;
  width: 160px;
  vertical-align: middle;

  &.disabled {
    @include theme-color(color, stroke, 5);
    cursor: not-allowed;

    .zent-select-input,
    .zent-select-text,
    .zent-select-tags {
      @include theme-color(border-color, stroke, 6);
      @include theme-color(background-color, stroke, 8);

      &::after {
        opacity: 0.25;
      }
    }
  }
}
