@import './theme/default';
@import './theme/font';

.zent-block-header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 16px;
  padding: 10px;
  background-color: $theme-stroke-8;
  min-height: 40px;
  box-sizing: border-box;

  &__title {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      width: 3px;
      height: 14px;
      background: $theme-primary-4;
    }

    h3 {
      @include font-normal;
      font-weight: $font-weight-normal;
      padding-left: 8px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-left: 8px;

    &-right {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  &__pop {
    @include font-large;
    margin-left: 8px;
    display: flex;
    align-items: center;
    color: $theme-stroke-4;
  }

  &__tooltip {
    max-width: 300px;
    word-wrap: normal;

    &-trigger {
      @include font-normal;
      color: $theme-stroke-5;
      cursor: pointer;
    }
  }
}
