@import './theme/default';
@import './theme/font';

.zent-block-header {
  @include theme-color(background-color, stroke, 8);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 16px;
  padding: 10px;
  min-height: 40px;
  box-sizing: border-box;

  &__title {
    display: flex;
    align-items: center;

    &::before {
      @include theme-color(background-color, primary, 4);
      content: '';
      width: 3px;
      height: 14px;
    }

    h3 {
      @include font-normal;
      font-weight: $font-weight-normal;
      padding-left: 8px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-left: 8px;

    &-right {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  &__pop {
    @include font-large;
    @include theme-color(color, stroke, 4);
    margin-left: 8px;
    display: flex;
    align-items: center;
  }

  &__tooltip {
    max-width: 300px;
    word-wrap: normal;

    &-trigger {
      @include font-normal;
      @include theme-color(color, stroke, 5);
      cursor: pointer;
    }
  }
}
