@import './theme/default';
@import './theme/font';

.zent-block-header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 16px;
  padding: 10px 12px;
  min-height: 40px;
  box-sizing: border-box;

  &-ribbon {
    @include theme-color(background-color, stroke, 8);
  }

  &-minimum {
    // sass-lint:disable-block no-duplicate-properties
    box-shadow: 0 1px 0 0 $theme-stroke-6;
    box-shadow: 0 1px 0 0 theme-rgb(stroke, 6);
  }

  &__title {
    display: flex;
    align-items: center;

    h3 {
      @include font-normal;
      @include theme-color(color, stroke, 1);
      font-weight: $font-weight-medium;
    }

    &-ribbon {
      &::before {
        @include theme-color(background-color, primary, 4);
        content: '';
        width: 3px;
        height: 14px;
        margin-right: 8px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-left: 8px;

    &-right {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  &__pop {
    @include font-large;
    @include theme-color(color, stroke, 4);
    margin-left: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__tooltip {
    max-width: 300px;
    word-wrap: normal;
  }
}
