@import './theme/default';
@import './theme/font';

.zent-block-header {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  background-color: $theme-stroke-8;
  height: 50px;
  box-sizing: border-box;

  &__left {
    display: inline-block;

    &:before {
      content: '';
      display: inline-block;
      width: 3px;
      height: 14px;
      position: relative;
      top: 2px;
      background: $theme-primary-2;
    }

    h3 {
      display: inline-block;
      margin: 0;
      padding-left: 5px;
      font-weight: normal;
      font-size: $font-size-normal;
    }
  }

  &__content {
    display: inline-block;
    margin-left: 10px;

    &-right {
      float: right;
    }
  }

  &__pop {
    display: inline-block;
    color: $theme-stroke-4;
    font-size: $font-size-large;
  }

  &__tooltip {
    max-width: 300px;
    word-wrap: normal;

    &-trigger {
      color: $theme-stroke-5;
      margin-left: 10px;
      font-size: $font-size-normal;
      cursor: pointer;
    }
  }
}
