@import './theme/default';
@import './theme/font';

.zent-breadcrumb {
  color: $theme-stroke-3;
  font-size: 0;
  line-height: 0;
  padding: 15px 0;

  span,
  a {
    font-size: $font-size-normal;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;

    &::after {
      content: '/';
      display: inline-block;
      color: $theme-stroke-3;
      margin: 0 8px;
    }

    &:last-child {
      &::after {
        content: '';
        display: none;
      }
    }
  }

  span {
    color: $theme-stroke-1;
    cursor: default;
  }

  a {
    color: $theme-stroke-3;

    &:hover {
      color: $theme-primary-2;
    }
  }

  &.zent-breadcrumb-nav {
    padding: 0;

    a {
      display: inline-block;
      height: 50px;
      line-height: 48px;
      padding: 0 20px;
      min-width: 0;
      border: 0;
      background: transparent;
      font-size: $font-size-normal;
      color: $theme-stroke-3;
      text-align: center;
      box-sizing: border-box;

      &:hover {
        color: $theme-primary-2;
      }

      &:after {
        display: none;
      }
    }

    .zent-breadcrumb-nav-active {
      &:after {
        display: block;
        border-bottom: 2px solid $theme-primary-2;
        content: '';
        margin: 0;
      }
    }
  }
}
