@import './theme/default';
@import './theme/font';

.zent-card {
  @include theme-color(background-color, stroke, 9);
  @include theme-color(border-color, stroke, 6);
  border-radius: 2px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;

  &-header {
    @include theme-color(border-bottom-color, stroke, 6);
    height: 48px;
    padding: 0 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;

    &__title {
      @include theme-color(color, stroke, 1);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

    &__action {
      flex: none;
    }
  }

  &-body {
    padding: 20px;
  }

  &--normal {
    .zent-card-header {
      font-size: $font-size-large;
    }

    .zent-card-body {
      font-size: $font-size-normal;
    }
  }

  &--nested {
    .zent-card-header {
      @include theme-color(background-color, stroke, 8);
      font-size: $font-size-normal;
    }
  }
}
