@import './theme/default';
@import './theme/font';

.zent-color-picker-popover {
  z-index: 2000;
}

.zent-color-picker {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  position: relative;
  text-align: left;
  user-select: none;
  height: 32px;
  vertical-align: middle;

  &.open {
    .zent-color-picker__text {
      @include theme-color(border-color, primary, 4);
      box-shadow: $shadow-spec-focus;

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__text {
    @include theme-color(border-color, stroke, 5);
    @include theme-color(background-color, stroke, 9);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    display: inline-block;
    width: 50px;
    height: 30px;
    outline: none;
    padding: 5px;
    transition: border-color 0.25s;
    position: relative;
  }

  &__preview {
    box-sizing: border-box;
    width: 38px;
    height: 18px;
  }
}

.zent-colorpicker-colors-select {
  @include theme-color(background-color, stroke, 9);
  width: 190px;
  box-shadow: $shadow-spec-layer;
  box-sizing: content-box;
  line-height: 10px;
  padding-top: 10px;
}

.zent-colorpicker-colors-select__preview {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(black, 0.2); // border
}
