@import './theme/default';
@import './theme/font';

.zent-date-range-quick-picker__filter {
  display: inline-block;
}

.zent-date-range-quick-picker__btn {
  @include theme-color(color, primary, 4);

  margin-left: 16px;
  display: inline-block;
  font-size: $font-size-normal;
  cursor: pointer;
  box-sizing: border-box;

  &:first-child {
    margin-left: 24px;
  }
}
