@import './theme/default';
@import './theme/font';

.zent-date-range-picker__filter {
  display: inline-block;
}

.zent-date-range-picker__btn {
  @include theme-color(color, stroke, 4);
  @include theme-color(border-color, stroke, 5);
  margin-left: 10px;
  display: inline-block;
  padding: 2px 4px;
  font-size: $font-size-normal;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;

  &:first-child {
    margin-left: 15px;
  }

  &:hover,
  &.active {
    @include theme-color(color, primary, 4);
    @include theme-color(border-color, primary, 4);
  }
}
