@import './theme/default';
@import './theme/font';

.zent-form {
  margin-bottom: 30px;
  width: auto;

  select[readonly],
  textarea[readonly] {
    @include theme-color(background-color, stroke, 9);
    cursor: text;
  }
}

.zent-form__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.zent-form__legend {
  @include theme-color(border-bottom-color, stroke, 6);
  padding-bottom: 8px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: $font-size-normal;
  font-weight: bold;
}

.zent-form__control-group {
  margin-bottom: 24px;

  &.has-error {
    .zent-form__error-desc,
    .zent-form__help-block {
      @include theme-color(color, error, 4);
    }
  }
}

.zent-form__static-value {
  padding-top: 5px;
  font-size: $font-size-normal;
  line-height: 18px;
  padding-bottom: 5px;
  word-break: break-all;
}

.zent-form__control-action {
  padding-top: 5px;
  display: inline-block;
  font-size: $font-size-normal;
  line-height: 18px;
}

.zent-form__required {
  @include theme-color(color, error, 2);
  margin-right: 6px;
  font-size: $font-size-large;
  vertical-align: middle;
}

.zent-form__help-block,
.zent-form__error-desc,
.zent-form__help-desc,
.zent-form__notice-desc {
  @include theme-color(color, stroke, 3);
  line-height: 14px;
  font-size: $font-size-small;
  margin-top: 10px;
  margin-bottom: 0;

  ul li {
    font-size: $font-size-small;
    line-height: 12px;
  }

  a {
    @include theme-color(color, primary, 4);
  }

  &:empty {
    margin-top: 0;
  }
}

.zent-form__notice-desc {
  @include theme-color(background-color, warn, 5);
  @include theme-color(color, stroke, 1);
  display: inline-block;
  padding: 5px;
}

.zent-form--horizontal {
  .zent-form__control-label {
    display: inline-block;
    width: 120px;
    font-size: $font-size-normal;
    line-height: 30px;
    text-align: right;
    vertical-align: top;

    & + .zent-form__controls {
      margin-left: 10px;
    }
  }

  .zent-form__controls {
    display: inline-block;
    word-break: break-all;
    vertical-align: top;
  }

  .zent-form__form-actions {
    padding: 0 0 0 130px;
    margin: 25px 0 10px;
    background: none;
    border: 0;
  }

  .zent-form__checkbox-group {
    font-size: 0;
    line-height: 28px;
  }

  .zent-form__checkbox {
    line-height: 28px;
  }

  .zent-form__radio-group {
    line-height: 28px;
  }
}

.zent-form--inline {
  .zent-form__control-group {
    display: inline-block;
    line-height: 30px;
    margin-right: 20px;

    .zent-form__control-label {
      display: inline-block;
      font-size: $font-size-normal;
      vertical-align: top;

      & + .zent-form__controls {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
}

.zent-form--vertical {
  .zent-form__control-label {
    display: block;
    font-size: $font-size-normal;
    margin-bottom: 10px;
  }
}
