@import './theme/default';
@import './theme/font';

.has-error {
  .zent-form-label {
    @include theme-color(color, error, 4);
  }
}

.zent-form {
  $p: &;

  &-label {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    flex-basis: 120px;

    &.zent-form-label-required {
      &::before {
        @include theme-color(color, error, 1);
        content: '*';
        display: inline-block;
        font-size: 16px;
        margin-right: 6px;
      }
    }
  }

  &-error {
    @include theme-color(color, error, 4);
  }

  &-notice,
  &-description {
    @include theme-color(color, stroke, 3);
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;

    ul li {
      font-size: 12px;
      line-height: 12px;
    }

    a {
      @include theme-color(color, primary, 2);
    }

    &:empty {
      margin-top: 0;
    }
  }

  &-notice {
    @include theme-color(background-color, warn, 5);
    @include theme-color(color, stroke, 1);
    display: inline-block;
    padding: 5px;
  }

  &-control {
    display: flex;
    line-height: 30px;
    margin-bottom: 20px;

    &-content {
      &-inner {
        display: flex;
      }
    }
  }

  &-vertical {
    & #{$p}-label {
      flex-basis: auto;
    }

    & #{$p}-control {
      flex-direction: column;

      &-content {
        flex: 0 0 auto;
      }
    }
  }

  &-horizontal {
    & #{$p}-label {
      flex-basis: 120px;
      justify-content: flex-end;
    }

    & #{$p}-control {
      flex-direction: row;

      &-content {
        flex: 1 1 100%;
        margin-left: 10px;
      }
    }

    #{$p}-actions {
      padding: 0 0 0 130px;
      margin: 25px 0 10px;
      background: none;
      border: 0;
    }
  }
}
