@import './theme/default';
@import './theme/font';

$thead-background-color: $theme-stroke-7;
$border-color: $theme-stroke-6;

.zent-grid {
  font-size: $font-size-normal;
  color: $theme-stroke-1;
  position: relative;
  line-height: 1.5;
  overflow: hidden;

  &.zent-grid-scroll-position-left {
    .zent-grid-fixed-left {
      box-shadow: none;
    }
  }

  &.zent-grid-scroll-position-right {
    .zent-grid-fixed-right {
      box-shadow: none;
    }
  }

  &-table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;

    &-ellipsis {
      table-layout: fixed;

      .zent-grid-nowrap {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &-tbody-span {
    td {
      box-shadow: inset 1px -1px 0 0 $theme-stroke-6;

      &:first-of-type {
        box-shadow: inset 0 -1px 0 0 $theme-stroke-6;
      }
    }
  }

  &-bordered {
    table {
      border-collapse: collapse;
    }

    th,
    td {
      box-shadow: inset 1px -1px 0 0 $theme-stroke-6;
    }

    tr:first-of-type {
      th:first-of-type {
        box-shadow: none;
      }
    }

    .zent-grid-header th {
      border-bottom: 0;
    }
  }

  &-text-align-left {
    text-align: left;
  }

  &-text-align-right {
    text-align: right;
  }

  &-text-align-center {
    text-align: center;
  }

  &-nowrap {
    white-space: nowrap;
    word-break: keep-all;
  }

  &-thead {
    .caret-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7.5px solid $theme-stroke-3;
      position: absolute;
      top: 0;
      left: 4px;
    }

    .caret-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7.5px solid $theme-stroke-3;
      position: absolute;
      bottom: 0;
      left: 4px;
    }

    &-sort {
      position: relative;
    }

    &-sort-desc,
    &-sort-asc {
      cursor: pointer;
    }

    &-sort-desc {
      .caret-down {
        border-top-color: $theme-primary-2;
      }
    }

    &-sort-asc {
      .caret-up {
        border-bottom-color: $theme-primary-2;
      }
    }
  }

  &-thead > tr > th {
    &[colspan] {
      text-align: center;
    }
  }

  &-fixed {
    width: auto;
  }

  &-fixed-left,
  &-fixed-right {
    position: absolute;
    top: 0;
    overflow: hidden;

    .zent-grid-fixed {
      border-left: 0;
      border-right: 0;
    }
  }

  &-fixed-left {
    left: 0;
    box-shadow: $shadow-spec-layer;

    .zent-grid-header .zent-grid-table {
      border-right: 0;
    }

    .zent-grid-body {
      margin-right: -20px;
      box-sizing: border-box;
      margin-bottom: -15px;
      overflow: scroll;
    }

    table {
      width: auto;
    }
  }

  &-fixed-right {
    right: 0;
    box-shadow: $shadow-spec-layer;

    .zent-grid-header .zent-grid-table {
      border-left: 0;
    }

    .zent-grid-body .zent-grid-table {
      border-left: 0;
    }

    .zent-grid-body {
      box-sizing: border-box;
      margin-bottom: -15px;
      overflow: scroll;
    }
  }

  &-scroll {
    overflow: auto;

    table {
      width: auto;
      min-width: 100%;
    }

    .zent-grid-header {
      overflow-x: scroll;
      margin-bottom: -15px;
      padding-bottom: 15px;
    }

    .zent-grid-body {
      position: relative;
    }
  }

  &-empty {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid $border-color;
  }

  &-tr {
    display: table-row;
    height: 56px;
    background-color: $theme-stroke-9;

    &:hover {
      background: $theme-primary-6;
    }

    &__mouseover {
      background: $theme-primary-6;
    }

    &__expanded {
      td {
        padding: 16px 10px;
        word-break: break-all;
        background-color: $theme-stroke-8;
      }
    }
  }

  &-th,
  &-td {
    font-size: $font-size-normal;
    display: table-cell;
    box-sizing: border-box;
    box-shadow: inset 0 -1px 0 0 $theme-stroke-6;
    vertical-align: middle;
  }

  &-th {
    line-height: 20px;
    padding: 18px 16px;
    font-weight: 500;
    background-color: $theme-stroke-8;
  }

  &-td {
    line-height: 20px;
    padding: 8px 16px;

    .zent-grid-expandable-btn {
      cursor: pointer;
      display: inline-block;
      width: 14px;
      height: 14px;
      text-align: center;
      line-height: 12px;
      border: 1px solid $theme-stroke-6;
      user-select: none;
      background: $theme-stroke-9;

      &.zent-grid-expand-btn::after {
        content: '+';
        box-sizing: border-box;
      }

      &.zent-grid-collapse-btn::after {
        content: '-';
        box-sizing: border-box;
      }
    }
  }

  &-tfoot {
    margin-top: 16px;
    overflow: hidden;

    .zent-grid-tfoot-page {
      margin-top: 0;
    }
  }

  &-tfoot-page {
    margin-top: 10px;
    float: right;
  }

  a {
    color: $theme-primary-2;
    cursor: pointer;
  }
}
