@import './theme/default';
@import './theme/font';

.zent-link {
  @include font-normal;
  @include theme-color(color, link, color);

  text-decoration: none;
  display: inline-block;

  &:link,
  &:visited,
  &:focus {
    @include theme-color(color, link, color);
  }

  &:hover {
    @include theme-color(color, link, hover-color);
  }

  &:active {
    @include theme-color(color, link, active-color);
  }

  &--weak {
    @include theme-color(color, weak-link, color);

    &:link,
    &:visited,
    &:focus {
      @include theme-color(color, weak-link, color);
    }
  }

  &.zent-link--disabled {
    @include theme-color(color, disabled, color);
    cursor: not-allowed;
  }
}
