@import './theme/default';

@mixin disable {
  cursor: not-allowed;
  color: $theme-stroke-4;
  background: $theme-stroke-8;

  > .zenticon {
    color: $theme-stroke-4;
  }

  &:hover {
    color: $theme-stroke-4;

    > .zenticon {
      color: $theme-stroke-4;
    }
  }
}

.zent-number-input {
  width: 200px;

  $p: &;

  &-arrows {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $theme-stroke-5;
    margin-left: -1px;
    user-select: none;

    #{$p}-arrow {
      cursor: pointer;
      width: 20px;
      height: 15px;
      line-height: 15px;
      background-color: white;
      text-align: center;

      &.zent-number-input-arrow-disable {
        @include disable;
      }

      &:hover {
        > .zenticon {
          color: $theme-primary-4;
        }
      }

      > .zenticon {
        line-height: 15px;
        position: static;
        color: $theme-stroke-2;
      }
    }

    #{$p}-arrowup {
      border-bottom: 1px solid $theme-stroke-5;

      .zenticon {
        transform: rotate(-90deg) scale(0.4);
      }
    }

    #{$p}-arrowdown {
      .zenticon {
        transform: rotate(90deg) scale(0.4);
      }
    }
  }

  &-count {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 28px;
    height: 100%;
    background: $theme-stroke-9;
    cursor: pointer;
    text-align: center;
    color: $theme-stroke-2;
    user-select: none;

    &.zent-number-input-count-disable {
      @include disable;
    }

    &:hover {
      color: $theme-primary-4;
    }

    &reduce {
      border-right: 1px solid $theme-stroke-5;
    }

    &add {
      border-left: 1px solid $theme-stroke-5;
    }
  }
}
