@import './theme/default';

@mixin disable {
  cursor: not-allowed;
  pointer-events: none;
  color: $theme-stroke-4;
  background: $theme-stroke-8;
}

.zent-number-input {
  width: 200px;

  $p: &;

  .zent-input-addon-before,
  .zent-input-addon-after {
    padding: 0;
  }

  &-arrows {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $theme-stroke-5;
    margin-left: -1px;
    user-select: none;

    #{$p}-arrow {
      cursor: pointer;
      width: 20px;
      height: 15px;
      line-height: 15px;
      background-color: white;
      text-align: center;

      &-disable {
        @include disable;
      }

      &:hover {
        > .zenticon {
          color: $theme-primary-2;
        }
      }

      > .zenticon {
        line-height: 15px;
        position: static;
        color: $theme-stroke-2;
      }
    }

    #{$p}-arrowup {
      border-bottom: 1px solid $theme-stroke-5;

      .zenticon {
        transform: rotate(-90deg) scale(0.4);
      }
    }

    #{$p}-arrowdown {
      .zenticon {
        transform: rotate(90deg) scale(0.4);
      }
    }
  }

  &-count {
    width: 28px;
    height: 100%;
    background: $theme-stroke-9;
    cursor: pointer;
    text-align: center;
    color: $theme-stroke-2;
    user-select: none;

    &-disable {
      @include disable;
    }

    &:hover {
      color: $theme-primary-2;
    }
  }
}
