@import './theme/default';

@mixin disable {
  @include theme-color(color, stroke, 4);
  @include theme-color(background-color, stroke, 8);
  cursor: not-allowed;

  > .zenticon {
    @include theme-color(color, stroke, 4);
  }

  &:hover {
    @include theme-color(color, stroke, 4);

    > .zenticon {
      @include theme-color(color, stroke, 4);
    }
  }
}

.zent-number-input {
  width: 200px;

  $p: &;

  &-arrows {
    @include theme-color(border-left-color, stroke, 5);
    display: flex;
    flex-direction: column;
    border-left-width: 1px;
    border-left-style: solid;
    margin-left: -1px;
    user-select: none;

    #{$p}-arrow {
      cursor: pointer;
      width: 20px;
      height: 15px;
      line-height: 15px;
      background-color: white;
      text-align: center;

      &.zent-number-input-arrow-disable {
        @include disable;
      }

      &:hover {
        > .zenticon {
          @include theme-color(color, primary, 4);
        }
      }

      > .zenticon {
        @include theme-color(color, stroke, 2);
        line-height: 15px;
        position: static;
        font-size: 12px;
      }
    }

    #{$p}-arrowup {
      @include theme-color(border-bottom-color, stroke, 5);
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }

  &-count {
    @include theme-color(background-color, stroke, 9);
    @include theme-color(color, stroke, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 28px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    user-select: none;

    &.zent-number-input-count-disable {
      @include disable;
    }

    &:hover {
      @include theme-color(color, primary, 4);
    }

    &reduce {
      @include theme-color(border-right-color, stroke, 5);
      border-right-width: 1px;
      border-right-style: solid;
    }

    &add {
      @include theme-color(border-left-color, stroke, 5);
      border-left-width: 1px;
      border-left-style: solid;
    }
  }
}
