.zent-numinput-wrapper {
  position: relative;
}
.zent-numinput-count-wrapper {
  .zent-input {
    padding: 0 20px 0 10px;
  }
}
.zent-numinput-arrow {
  position: absolute;
  right: 1px;
  height: calc(50% - 1px);
  line-height: 50%;
  width: 20px;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  i {
    color: #666666;
    &:hover {
      color: #3388FF;
    }
  }
  &:hover {
    i {
      color: #3388FF;
    }
  }
}
.zent-numinput-arrow-disable {
  i {
    color: #CACACA;
  }
  &:hover {
    cursor: not-allowed;
    i {
      cursor: not-allowed;
      color: #CACACA;
    }
  }
}
.zent-numinput-arrowup {
  top: 1px;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  i {
    transform: rotate(-90deg) scale(0.4);
  }
}
.zent-numinput-arrowdown {
  bottom: 1px;
  border-left: 1px solid #E5E5E5;
  i {
    transform: rotate(90deg) scale(0.4);
  }
}
