@import './theme/default';
@import './theme/font';

.zent-pagination {
  display: flex;
  justify-content: flex-end;
  font-size: $font-size-normal;

  &-page-list--normal,
  &-page-list--mini,
  &-page-list--lite {
    .zent-btn + .zent-btn {
      margin-left: 4px;
    }
  }

  &-page-list--mini {
    display: flex;
    margin: 0 8px;
  }

  &-arrow {
    @include theme-color(stroke, stroke, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-page-number-button.zent-btn,
  &-arrow-button.zent-btn {
    padding: 0 8px;
    min-width: 32px;
    position: relative;
    transition: none;

    &[disabled] {
      .zent-pagination-arrow {
        @include theme-color(stroke, stroke, 4);
      }
    }
  }

  &-page-button--no-border:not(.zent-btn-primary) {
    border-color: transparent;

    &:hover,
    &:active {
      background: white;
      border-color: transparent;
    }

    &:active {
      @include theme-color(color, primary, 3);
    }

    &.zent-pagination-arrow-button[disabled] {
      background: white;

      .zent-pagination-arrow {
        @include theme-color(stroke, stroke, 6);
      }
    }

    &.zent-pagination-arrow-button:not([disabled]) {
      &:hover {
        .zent-pagination-arrow {
          @include theme-color(stroke, primary, 4);
        }
      }

      &:active {
        .zent-pagination-arrow {
          @include theme-color(stroke, primary, 3);
        }
      }
    }
  }

  &-arrow-button--double {
    &:hover,
    &:active,
    &-active {
      border-color: transparent;
    }

    &:hover {
      .zent-pagination-arrow {
        @include theme-color(stroke, primary, 4);
      }
    }

    &:active,
    &-active {
      background: transparent;

      .zent-pagination-arrow {
        @include theme-color(stroke, primary, 3);
      }
    }
  }

  &-page-jumper,
  &-mini-page-jumper {
    display: flex;
    justify-content: center;
    align-items: center;

    .zent-input-wrapper {
      .zent-input {
        min-width: unset;
        width: 100%;
        padding: 0 12px;
      }
    }
  }

  &-page-jumper {
    margin-left: 8px;

    .zent-input-wrapper {
      margin: 0 8px;
    }
  }

  &-mini-page-jumper {
    @include font-large;

    &__sep {
      margin: 0 24px;
    }

    &__total {
      margin-right: 16px;
    }

    .zent-input {
      text-align: center;
    }
  }

  &-page-size-changer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    .zent-select {
      margin-left: 4px;
      margin-right: 0;
    }
  }

  &-count {
    margin: 0 4px;

    &--left {
      margin-left: 4px;
    }
  }
}
