@import './theme/default';

.zent-placeholder-shape {
  background-color: $theme-stroke-7;

  &--animate {
    // sass-lint:disable-block no-duplicate-properties
    animation: zent-placeholder 2s linear infinite;
    background: linear-gradient(
      to right,
      rgba($theme-stroke-7, 0.7),
      $theme-stroke-7,
      $theme-stroke-8
    );
    background: linear-gradient(
      to right,
      rgba(var(--theme-stroke-7, to-rgb($theme-stroke-7)), 0.7),
      var(--theme-stroke-7, $theme-stroke-7),
      var(--theme-stroke-8, $theme-stroke-8)
    );
    background-size: 300% 300%;
  }
}

.zent-placeholder-text-row,
.zent-placeholder-text-row-dashed .zent-placeholder-shape {
  width: 100%;
  height: 1em;
}

.zent-placeholder-text-row-dashed {
  display: flex;

  &-segment {
    box-sizing: border-box;
  }
}

.zent-placeholder-circle {
  border-radius: 50%;
}

@keyframes zent-placeholder {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
