@import './theme/default';
@import './theme/font';

// FIXME: these values and ARROW_OFFSET_* in postion.js are interrelated
$arrow-offset-h: 12px;
$arrow-offset-v: 6px;
$arrow-size: 6px;
$arrow-cover-size: 11px;

.zent-pop {
  @include font-normal;
  @include theme-color(background-color, stroke, 9);

  border-radius: 2px;
  box-shadow: $shadow-spec-layer;
  z-index: 2000;
  position: relative;

  &-arrow {
    width: 16px;
    height: 16px;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 16px 10px -20px rgba(0, 0, 0, 0.5);
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #fff;
      transform: rotate(45deg);
      top: 12px;
      left: 4px;
      box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
    }
  }

  & &-inner,
  & &-header {
    position: relative;
    border-radius: 2px;
    padding: 13px 12px;
    z-index: 2;
  }

  & &-header {
    @include font-large;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
    font-weight: $font-weight-bold;
  }

  & &-buttons {
    text-align: right;
    vertical-align: top;
  }

  &--no-header {
    .zent-pop-buttons {
      display: inline-block;
      margin-left: 24px;
    }
  }

  &--has-header {
    .zent-pop-buttons {
      margin-top: 16px;
    }
  }

  &-portal.zent-popover-position {
    // bottom side
    &-bottom-left,
    &-bottom-center,
    &-bottom-right {
      .zent-pop-arrow {
        top: 0;
      }
    }

    &-bottom-left {
      .zent-pop-arrow {
        transform: translateY(-100%);
        left: $arrow-offset-h;
      }
    }

    &-bottom-center {
      .zent-pop-arrow {
        transform: translate(-50%, -100%);
        left: 50%;
      }
    }

    &-bottom-right {
      .zent-pop-arrow {
        transform: translateY(-100%);
        right: $arrow-offset-h;
      }
    }

    // top side
    &-top-left,
    &-top-center,
    &-top-right {
      .zent-pop-arrow {
        bottom: 0;
      }

      // &::after {
      //   bottom: -$arrow-cover-size;
      //   width: 100%;
      //   left: 0;
      // }
    }

    &-top-left {
      .zent-pop-arrow {
        transform: translateY(100%) rotate(180deg);
        left: $arrow-offset-h;
      }
    }

    &-top-center {
      .zent-pop-arrow {
        transform: translate(-50%, 100%) rotate(180deg);
        left: 50%;
      }
    }

    &-top-right {
      .zent-pop-arrow {
        transform: translateY(100%) rotate(180deg);
        right: $arrow-offset-h;
      }
    }

    // left side
    &-left-top,
    &-left-center,
    &-left-bottom {
      .zent-pop-arrow {
        right: 0;
      }
    }

    &-left-top {
      .zent-pop-arrow {
        transform: translateX(100%) rotate(90deg);
        top: $arrow-offset-v;
      }
    }

    &-left-center {
      .zent-pop-arrow {
        transform: translate(100%, -50%) rotate(90deg);
        top: 50%;
      }
    }

    &-left-bottom {
      .zent-pop-arrow {
        transform: translateX(100%) rotate(90deg);
        bottom: $arrow-offset-v;
      }
    }

    // left side
    &-right-top,
    &-right-center,
    &-right-bottom {
      .zent-pop-arrow {
        left: 0;
      }
    }

    &-right-top {
      .zent-pop-arrow {
        transform: translateX(-100%) rotate(-90deg);
        top: $arrow-offset-v;
      }
    }

    &-right-center {
      .zent-pop-arrow {
        transform: translate(-100%, -50%) rotate(-90deg);
        top: 50%;
      }
    }

    &-right-bottom {
      .zent-pop-arrow {
        transform: translateX(-100%) rotate(-90deg);
        bottom: $arrow-offset-v;
      }
    }
  }
}
