@import './theme/default';
@import './theme/font';
@import './theme/timing-functions';

$circle-width: 76px;
$circle-path-width: 3px;
$color-info: $theme-stroke-3;
$color-bg: $theme-stroke-8;
$color-ongoing: $theme-primary-2;
$color-success: $theme-success-2;
$color-exception: $theme-error-2;
$transition-spec: 160ms $timing-fn-ease-in;
$mask-opacity: 0.2;

.zent-progress {
  &.zent-progress-line {
    .zent-progress-wrapper {
      display: inline-block;
      background: $color-bg;
      vertical-align: middle;
    }

    .zent-progress-inner {
      transition: all $transition-spec;
      position: relative;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        content: ' ';
        width: 20%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(to right, rgba(white, 0), white);
        animation: 1400ms $timing-fn-linear 0s infinite normal both running
          zent-progress-mask-move;
      }
    }

    .zent-progress-info {
      display: inline-block;
      font-size: $font-size-normal;
      margin-left: 10px;
      color: $color-info;
      white-space: nowrap;
      vertical-align: middle;
    }

    .zent-progress-inprogress {
      .zent-progress-inner {
        background: $color-ongoing;
      }

      .zent-progress-info {
        color: $color-ongoing;
      }
    }

    .zent-progress-success {
      .zent-progress-inner {
        background: $color-success;

        &:after {
          display: none;
        }
      }

      .zent-progress-info {
        color: $color-success;
      }
    }

    .zent-progress-exception {
      .zent-progress-inner {
        background: $color-exception;

        &:after {
          display: none;
        }
      }

      .zent-progress-info {
        color: $color-exception;
      }
    }
  }

  &.zent-progress-circle {
    position: relative;
    display: inline-block;

    .zent-progress-wrapper,
    .zent-progress-inner {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .zent-progress-wrapper {
      border-style: solid;
      border-color: $color-bg;
      box-sizing: border-box;
    }

    .zent-progress-info {
      display: inline-block;
      font-size: $font-size-small;
      color: $color-info;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .zent-progress-inner-path,
    .zent-progress-path-mask {
      stroke-linecap: round;
      fill: none;
      transform-origin: center;
    }

    .zent-progress-inner-path {
      transform: rotate(-90deg);
      transition: stroke-dashoffset $transition-spec;
    }

    .zent-progress-path-mask {
      transition: transform 400ms $timing-fn-linear;
    }

    .zent-progress-inprogress {
      .zent-progress-inner-path {
        stroke: $color-ongoing;
      }

      .zent-progress-info {
        color: $color-ongoing;
      }
    }

    .zent-progress-success {
      .zent-progress-inner-path {
        stroke: $color-success;
      }

      .zent-progress-info {
        color: $color-success;
      }
    }

    .zent-progress-exception {
      .zent-progress-inner-path {
        stroke: $color-exception;
      }

      .zent-progress-info {
        color: $color-exception;
      }
    }
  }
}

@keyframes zent-progress-mask-move {
  0% {
    left: 0;
    opacity: $mask-opacity;
  }

  28% {
    left: 100%;
    opacity: $mask-opacity;
  }

  29% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}
