@import './theme/default';
@import './theme/font';
@import './theme/timing-functions';

$circle-width: 76px;
$circle-path-width: 3px;
$transition-spec: 160ms $timing-fn-ease-in;
$mask-opacity: 0.2;

@mixin color-ongoing($prop) {
  @include theme-color($prop, primary, 4);
}

@mixin color-success($prop) {
  @include theme-color($prop, success, 2);
}

@mixin color-exception($prop) {
  @include theme-color($prop, exception, 2);
}

.zent-progress {
  &.zent-progress-line {
    .zent-progress-wrapper {
      @include theme-color(background-color, stroke, 8);
      display: inline-block;
      vertical-align: middle;
    }

    .zent-progress-inner {
      transition: all $transition-spec;
      position: relative;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        content: ' ';
        width: 20%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(to right, rgba(white, 0), white);
        animation: 1400ms $timing-fn-linear 0s infinite normal both running
          zent-progress-mask-move;
      }
    }

    .zent-progress-info {
      @include theme-color(color, stroke, 3);
      display: inline-block;
      font-size: $font-size-normal;
      margin-left: 10px;
      white-space: nowrap;
      vertical-align: middle;
    }

    .zent-progress-inprogress {
      .zent-progress-inner {
        @include color-ongoing(background-color);
      }

      .zent-progress-info {
        @include color-ongoing(color);
      }
    }

    .zent-progress-success {
      .zent-progress-inner {
        @include color-success(background-color);

        &:after {
          display: none;
        }
      }

      .zent-progress-info {
        @include color-success(color);
      }
    }

    .zent-progress-exception {
      .zent-progress-inner {
        @include color-exception(background-color);

        &:after {
          display: none;
        }
      }

      .zent-progress-info {
        @include color-exception(color);
      }
    }
  }

  &.zent-progress-circle {
    position: relative;
    display: inline-block;

    .zent-progress-wrapper,
    .zent-progress-inner {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .zent-progress-wrapper {
      @include theme-color(border-color, stroke, 8);
      border-style: solid;
      box-sizing: border-box;
    }

    .zent-progress-info {
      @include theme-color(color, stroke, 3);
      display: inline-block;
      font-size: $font-size-small;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .zent-progress-inner-path,
    .zent-progress-path-mask {
      stroke-linecap: round;
      fill: none;
      transform-origin: center;
    }

    .zent-progress-inner-path {
      transform: rotate(-90deg);
      transition: stroke-dashoffset $transition-spec;
    }

    .zent-progress-path-mask {
      transition: transform 400ms $timing-fn-linear;
    }

    .zent-progress-inprogress {
      .zent-progress-inner-path {
        @include color-ongoing(stroke);
      }

      .zent-progress-info {
        @include color-ongoing(color);
      }
    }

    .zent-progress-success {
      .zent-progress-inner-path {
        @include color-success(stroke);
      }

      .zent-progress-info {
        @include color-success(color);
      }
    }

    .zent-progress-exception {
      .zent-progress-inner-path {
        @include color-exception(stroke);
      }

      .zent-progress-info {
        @include color-exception(color);
      }
    }
  }
}

@keyframes zent-progress-mask-move {
  0% {
    left: 0;
    opacity: $mask-opacity;
  }

  28% {
    left: 100%;
    opacity: $mask-opacity;
  }

  29% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}
