@import './theme/default';
@import './theme/font';
@import './theme/timing-functions';

$transition-spec: 160ms $timing-fn-ease-in;
$mask-opacity: 0.2;

$state-color-type-map: (
  normal: primary,
  success: success,
  exception: error,
);

$state-color-depth-map: (
  normal: 4,
  success: 2,
  exception: 2,
);

.zent-progress {
  &-info {
    @include font-normal;
    @include theme-color(color, stroke, 3);
    font-weight: $font-weight-medium;
    display: inline-block;
  }

  &-type__line {
    .zent-progress-container {
      display: flex;
      align-items: center;
    }

    .zent-progress-wrapper {
      @include theme-color(background-color, stroke, 8);
      display: inline-block;
      vertical-align: middle;
      border-radius: 2px;
    }

    .zent-progress-inner {
      transition: all $transition-spec;
      position: relative;
      border-radius: 2px;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        content: ' ';
        width: 20%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(to right, rgba(white, 0), white);
        animation: 1400ms $timing-fn-linear 0s infinite normal both running
          zent-progress-mask-move;
      }
    }

    .zent-progress-info {
      margin-left: 8px;
      white-space: nowrap;
      vertical-align: middle;
    }

    @mixin line-state-style($state, $no-animation) {
      $color-type: map-get($state-color-type-map, $state);
      $color-depth: map-get($state-color-depth-map, $state);

      &.zent-progress-state__#{$state} {
        .zent-progress-inner {
          @include theme-color(background-color, $color-type, $color-depth);

          @if $no-animation {
            &:after {
              display: none;
            }
          }
        }

        .zent-progress-info {
          @include theme-color(color, $color-type, $color-depth);
        }
      }
    }

    @include line-state-style(normal, false);
    @include line-state-style(success, true);
    @include line-state-style(exception, true);
  }

  &-type__circle {
    position: relative;
    display: inline-block;

    .zent-progress-wrapper,
    .zent-progress-inner {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .zent-progress-wrapper {
      @include theme-color(border-color, stroke, 8);
      border-style: solid;
      box-sizing: border-box;
      border-radius: 50%;
    }

    .zent-progress-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .zent-progress-inner-path,
    .zent-progress-path-mask {
      stroke-linecap: round;
      fill: none;
      transform-origin: center;
    }

    .zent-progress-inner-path {
      transform: rotate(-90deg);
      transition: stroke-dashoffset $transition-spec;
    }

    .zent-progress-path-mask {
      transition: transform 400ms $timing-fn-linear;
    }

    @mixin circle-state-style($state) {
      $color-type: map-get($state-color-type-map, $state);
      $color-depth: map-get($state-color-depth-map, $state);

      &.zent-progress-state__#{$state} {
        .zent-progress-inner-path {
          @include theme-color(stroke, $color-type, $color-depth);
        }

        .zent-progress-info {
          @include theme-color(color, $color-type, $color-depth);
        }
      }
    }

    @include circle-state-style(normal);
    @include circle-state-style(success);
    @include circle-state-style(exception);
  }
}

@keyframes zent-progress-mask-move {
  0% {
    left: 0;
    opacity: $mask-opacity;
  }

  28% {
    left: 100%;
    opacity: $mask-opacity;
  }

  29% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}
