@import './theme/default';
@import './theme/font';
@import './mixins/popup';

$option-height: 32px;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin placeholder {
  @include theme-color(color, stroke, 4);
  @include ellipsis;
}

@mixin tag-style {
  @include theme-color(border-color, stroke, 4);
  border-radius: 2px;
  margin: 4px 4px 4px 0;
  padding: 0 4px;
  line-height: 16px;
  font-size: $font-size-small;
  display: flex;
  align-items: center;
  word-break: break-all;
  box-sizing: border-box;
}

.zent-select-v2 {
  @include theme-color(border-color, stroke, 5);
  @include theme-color(background-color, stroke, 9);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  min-height: 32px;
  padding: 5px 26px 5px 12px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  transition: border-color 0.25s;
  outline: none;
  position: relative;
  line-height: 20px;

  .zenticon-down {
    @include theme-color(color, stroke, 3);
    font-size: 18px;
    right: 8px;
    position: absolute;
    transition: transform 0.25s;
    top: 7px;
    margin: auto;
  }

  &.zent-select-v2-disabled {
    @include theme-color(color, stroke, 5);
    @include theme-color(border-color, stroke, 5);
    @include theme-color(background-color, stroke, 8);
    cursor: not-allowed;
    user-select: none;

    &:hover {
      @include theme-color(color, stroke, 5);
      @include theme-color(border-color, stroke, 5);
      @include theme-color(background-color, stroke, 8);
      box-shadow: none;
    }

    .zent-select-v2-tag {
      @include theme-color(color, stroke, 4);
      @include theme-color(border-color, stroke, 5);
      @include theme-color(background-color, stroke, 8);
      cursor: not-allowed;
    }

    .zent-select-v2-tag-close {
      @include theme-color(color, stroke, 5);
      cursor: not-allowed;
    }

    .zent-select-v2-tag-collapsed-trigger {
      @include theme-color(color, stroke, 4);
      @include theme-color(background-color, stroke, 6);
    }
  }

  &-multiple {
    padding-top: 2px;
    padding-bottom: 2px;

    .zent-select-v2-placeholder {
      margin: 3px 0;
    }
  }

  &-placeholder {
    @include placeholder;
  }

  &-text {
    @include ellipsis;
  }

  &-clearable {
    .zenticon-close-circle {
      @include theme-color(color, stroke, 4);
      font-size: 18px;
      position: absolute;
      right: 8px;
      top: 7px;
      margin: auto;
      display: none;
      cursor: pointer;
    }

    &.zent-select-v2:hover,
    &.zent-select-v2-active {
      .zenticon-down {
        display: none;
      }

      .zenticon-close-circle {
        display: inline-block;
      }
    }
  }

  &:hover,
  &.zent-select-v2-active {
    @include theme-color(border-color, primary, 4);
    @include theme-shadow(focus);
  }

  &.zent-select-v2-visible {
    .zenticon-down {
      transform: rotate(180deg);
    }
  }

  &.zent-select-v2-inline {
    display: inline-flex;
  }

  &-collapsable {
    .zent-select-v2-search-wrap {
      flex: 1;
    }
  }

  &-search {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    &::placeholder {
      @include placeholder;
    }

    &-wrap {
      width: 100%;
      position: relative;

      &-auto-width {
        width: auto;
        min-width: 10px;
        min-height: 20px;
        margin: 3px 0;
      }

      .zent-select-v2-search {
        min-width: 10px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-mirror {
      white-space: nowrap;
      visibility: hidden;
    }
  }

  &-popup {
    @include popup;
    max-height: 8 * $option-height;
    overflow-y: auto;

    &-empty {
      @include theme-color(color, stroke, 4);
      padding: 0 20px;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-loading {
      height: 96px;
    }
  }

  &-option {
    height: $option-height;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 7px 12px;

    &-text {
      @include ellipsis;
      display: flex;
      align-items: center;
      flex: 1 1 100%;

      &-content {
        @include ellipsis;
      }

      &-highlight {
        @include theme-color(color, primary, 4);
      }
    }

    &:hover,
    &-active,
    &-active.zent-select-v2-option-selected {
      @include theme-color(background-color, primary, 8);
    }

    &-header {
      @include theme-color(color, stroke, 4);
      cursor: default;
      font-size: $font-size-small;

      &:hover,
      &.zent-select-v2-option-active {
        @include theme-color(background-color, stroke, 9);
        cursor: default;
      }
    }

    &-disabled {
      @include theme-color(color, stroke, 4);
      cursor: not-allowed;

      &:hover,
      &.zent-select-v2-option-active {
        @include theme-color(background-color, stroke, 9);
        cursor: not-allowed;
      }
    }

    &-selected {
      @include theme-color(background-color, stroke, 8);
      font-weight: $font-weight-medium;

      &-multiple {
        @include theme-color(color, stroke, 3);
        font-size: 18px;
        display: block;
        margin-left: auto;
        margin-right: -4px; // align with clear/open/close icon
        padding-left: 8px;
      }
    }

    &-loading {
      margin-left: auto;
      padding-left: 8px;
    }
  }

  &-tag {
    @include theme-color(border-color, stroke, 4);
    @include tag-style;
    border-width: 1px;
    border-style: solid;
    cursor: default;

    &-close {
      @include theme-color(color, stroke, 3);
      cursor: pointer;
      margin-left: 5px;
    }
  }

  &-tag-collapsed {
    &-trigger {
      @include theme-color(background-color, stroke, 7);
      @include tag-style;
      cursor: pointer;
      min-width: 46px;
      justify-content: center;
    }

    &-content {
      @include font-normal;
      max-width: 216px;
      max-height: 80px;
      overflow-y: auto;
      word-break: break-all;
      @include theme-color(border-color, stroke, 4);
    }
  }
}
