@import './theme/default';
@import './theme/font';
@import './mixins/popup';

$option-height: 32px;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin placeholder {
  @include theme-color(color, stroke, 4);
  @include ellipsis;
}

@mixin tag-style {
  @include theme-color(border-color, stroke, 4);
  border-radius: 2px;
  margin: 4px 4px 4px 0;
  padding: 0 4px;
  line-height: 16px;
  font-size: $font-size-small;
  display: flex;
  align-items: center;
  word-break: break-all;
  box-sizing: border-box;
}

.zent-select {
  @include theme-color(border-color, stroke, 5);
  @include theme-color(background-color, stroke, 9);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  min-height: 32px;
  padding: 5px 25px 5px 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  transition: border-color 0.25s;
  outline: none;
  position: relative;
  line-height: 20px;

  &::after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAMAAAAhxq8pAAAAP1BMVEUAAAAzMzMyMjRAQEAyMjQyMjQ0NDQ2NjYyMjMzMzMyMjMyMjMzMzQyMjQ4ODgzMzNGRkYzMzMyMjUzMzMyMjNbbAmOAAAAFHRSTlMAqr0Grn1SLvTr39GXiSAUC2hbMlOyMCEAAABbSURBVBjTfc5JEoAgDETRlnkGlfufVSkLxWD5ln+RDj7xdSEkR6yTCDZHgW2OCgi0hbZEDjCOU3ZjcxlotHma0cBFjSM32ZvEQPQPR8W35gtekq3VJhA7Yxp/Dk7RDBdwecf8AAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: center;
    content: '';
    right: 8px;
    width: 16px;
    height: 16px;
    position: absolute;
    transition: transform 0.25s;
    top: 7px;
    margin: auto;
  }

  &.zent-select-disabled {
    @include theme-color(color, stroke, 5);
    @include theme-color(border-color, stroke, 5);
    @include theme-color(background-color, stroke, 8);
    cursor: not-allowed;
    user-select: none;

    &:hover {
      @include theme-color(color, stroke, 5);
      @include theme-color(border-color, stroke, 5);
      @include theme-color(background-color, stroke, 8);
      box-shadow: none;
    }

    &::after {
      opacity: 0.25;
    }
  }

  &-multiple {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 26px;
  }

  &-placeholder {
    @include placeholder;
  }

  &-text {
    @include ellipsis;
  }

  &-clearable {
    .zenticon-close-circle {
      @include theme-color(color, stroke, 5);
      font-size: 16px;
      position: absolute;
      right: 8px;
      top: 7px;
      margin: auto;
      width: 16px;
      height: 16px;
      display: none;
      cursor: pointer;
    }

    &.zent-select:hover,
    &.zent-select-active {
      &::after {
        display: none;
      }

      .zenticon-close-circle {
        display: inline-block;
      }
    }
  }

  &:hover,
  &.zent-select-active {
    @include theme-color(border-color, primary, 4);
    box-shadow: $shadow-spec-focus;
  }

  &.zent-select-visible {
    &::after {
      transform: rotate(180deg);
    }
  }

  &.zent-select-inline {
    display: inline-flex;
  }

  &-collapsable {
    .zent-select-search-wrap {
      flex: 1;
    }
  }

  &-search {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    &::placeholder {
      @include placeholder;
    }

    &-wrap {
      width: 100%;
      position: relative;
    }

    &-mirror {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      white-space: nowrap;
      visibility: hidden;
    }
  }

  &-popover {
    @include popup;
    max-height: 8 * $option-height;
    overflow-y: auto;

    &-empty {
      @include theme-color(color, stroke, 4);
      padding: 0 20px;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-loading {
      height: 96px;
    }
  }

  &-option {
    height: $option-height;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 7px 12px;

    &-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      mark {
        background-color: initial;
        @include theme-color(color, primary, 4);
      }
    }

    &:hover,
    &-active,
    &-active.zent-select-option-selected {
      @include theme-color(background-color, primary, 8);
    }

    &-header {
      @include theme-color(color, stroke, 4);
      cursor: default;
      font-size: $font-size-small;

      &:hover,
      &.zent-select-option-active {
        @include theme-color(background-color, stroke, 9);
        cursor: default;
      }
    }

    &-disabled {
      @include theme-color(color, stroke, 4);
      cursor: not-allowed;

      &:hover,
      &.zent-select-option-active {
        @include theme-color(background-color, stroke, 9);
        cursor: not-allowed;
      }
    }

    &-selected {
      @include theme-color(background-color, stroke, 8);
      font-weight: 500;

      &-multiple {
        font-size: 12px;
        display: block;
        margin-left: auto;
      }
    }
  }

  &-tag {
    @include theme-color(border-color, stroke, 4);
    @include tag-style;
    border-width: 1px;
    border-style: solid;
    cursor: default;

    &-close {
      @include theme-color(color, stroke, 3);
      cursor: pointer;
      margin-left: 5px;

      &::before {
        font-size: 8px;
      }
    }
  }

  &-tag-collapsed {
    &-trigger {
      @include theme-color(background-color, stroke, 7);
      @include tag-style;
      cursor: pointer;
      min-width: 46px;
      justify-content: center;
    }

    &-content {
      max-width: 216px;
      max-height: 80px;
      overflow-y: auto;
      line-height: 20px;
      font-size: $font-size-normal;
      word-break: break-all;
      @include theme-color(border-color, stroke, 4);
    }
  }
}
