@import './theme/default';
@import './theme/font';

.zent-slider {
  display: flex;
  min-height: 30px;

  &-main {
    flex: 1;
    margin: 8px 7px;
    height: 14px;
    cursor: pointer;
    position: relative;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    user-select: none;
    background-color: $theme-stroke-6;
    background-clip: content-box;

    &-with-marks {
      margin-bottom: 20px;
    }

    &:hover {
      .zent-slider-track {
        @include theme-color(background-color, primary, 4);

        &-disabled {
          @include theme-color(background-color, stroke, 4);

          &:hover {
            @include theme-color(background-color, stroke, 4);
          }
        }
      }
    }
  }

  &-track {
    @include theme-color(background-color, primary, 6);
    height: 4px;
    position: absolute;
    border-radius: 8px;

    &:hover {
      @include theme-color(background-color, primary, 4);
    }

    &-disabled {
      @include theme-color(background-color, stroke, 4);

      &:hover {
        @include theme-color(background-color, stroke, 4);
      }
    }
  }

  &-point {
    @include theme-color(border-color, primary, 6);
    @include theme-color(background-color, stroke, 9);
    position: absolute;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    margin-left: -7px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    transition: border-color 0.3s ease,
      transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

    &:hover {
      @include theme-color(color, primary, 4);
      transform: scale(1.2);
      transform-origin: center center;
    }

    &-disabled {
      @include theme-color(border-color, stroke, 5);
      border-width: 2px;
      border-style: solid;
      cursor: not-allowed;

      &:hover {
        @include theme-color(border-color, stroke, 5);
        transform: scale(1.2);
        transform-origin: center center;
      }
    }
  }

  // &-points {
  //   position: absolute;
  //   width: 100%;
  //   user-select: none;
  // }

  &-tooltip {
    display: inline-block;
    position: absolute;
    cursor: initial;

    &-content {
      position: absolute;
      top: -48px;
      transform: translateX(-50%);
    }

    // <<<<<<< HEAD
    //       .toolTips-inner {
    //         @include font-normal;
    //         @include theme-color(background-color, stroke, 1);
    //         @include theme-color(color, stroke, 9);
    //         padding: 8px 10px;
    //         border-radius: 2px;
    //         line-height: 14px;
    //         position: relative;
    //         z-index: 2;
    //         white-space: nowrap;
    //       }

    //       .toolTips-arrow {
    //         @include theme-color(background-color, stroke, 1);
    //         transform: translate(-50%, 50%) rotate(45deg);
    //         left: 50%;
    //         position: absolute;
    //         z-index: 1;
    //         top: 20px;
    //         width: 10px;
    //         height: 10px;
    //         overflow: hidden;
    //       }
    // =======
    //     &-inner {
    //       @include font-normal;
    //       padding: 8px 10px;
    //       background-color: $theme-stroke-1;
    //       border-radius: 2px;
    //       color: $theme-stroke-9;
    //       line-height: 14px;
    //       position: relative;
    //       z-index: 2;
    //       white-space: nowrap;
    // >>>>>>> 8ce244e1... refactor slider
    // }

    &-arrow {
      background: $theme-stroke-1;
      transform: translate(-50%, 50%) rotate(45deg);
      left: 50%;
      position: absolute;
      z-index: 1;
      top: 20px;
      width: 10px;
      height: 10px;
      overflow: hidden;
    }
  }

  // &:hover {
  //   .toolTips-content {
  //     visibility: visible;
  //   }
  // }
  // }

  &-input {
    display: flex;
    margin-left: 15px;
    line-height: 30px;

    .slider-input-line {
      padding: 0 5px;
    }

    .zent-input-wrapper,
    &.zent-input-wrapper {
      width: 60px;

      .zent-input {
        min-width: 60px;
      }
    }
  }

  &-marks {
    @include font-normal;
    @include theme-color(color, stroke, 1);
    position: absolute;
    width: 100%;
    margin-top: 4px;

    .zent-slider-mark {
      position: absolute;
      padding-top: 10px;
      transform: translateX(-50%);
    }
  }

  &-dots {
    position: absolute;
    width: 100%;

    .zent-slider-dot {
      @include theme-color(background-color, stroke, 9);
      @include theme-color(border-color, stroke, 6);
      position: absolute;
      display: inline-block;
      width: 6px;
      margin-top: -2px;
      transform: translateX(-50%);
      background-color: $theme-stroke-9;
      height: 6px;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;

      &-active {
        @include theme-color(bordre-color, primary, 6);
        border-width: 1px;
        border-style: solid;
      }
    }
  }

  &-disabled {
    .zent-slider-main {
      cursor: not-allowed;
    }
  }
}
