@import './theme/default';

.zent-split-button {
  display: inline-block;

  & + .zent-split-button {
    margin-left: 10px;
  }

  &__main {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.zent-btn-loading {
      &:hover,
      &:active {
        z-index: 0;
      }
    }

    &.zent-btn-primary {
      border-right-color: $theme-primary-6;
    }

    &.zent-btn-danger {
      border-right-color: $theme-error-4;
    }

    &.zent-btn-success {
      border-right-color: $theme-success-4;
    }

    &.zent-btn-disabled {
      border-right-color: $theme-stroke-6;
    }
  }

  &__main,
  &__dropdown-wrapper {
    position: relative;
    z-index: 1;

    &:hover {
      z-index: 2;
    }
  }

  &__dropdown-wrapper {
    margin-left: -1px;
  }

  &__dropdown {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 4px;

    &-icon {
      transform: scale(0.5);
    }

    &.zent-btn-primary {
      border-left-color: $theme-primary-6;
    }

    &.zent-btn-danger {
      border-left-color: $theme-error-4;
    }

    &.zent-btn-success {
      border-left-color: $theme-success-4;
    }

    &.zent-btn-disabled {
      border-left-color: $theme-stroke-6;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }
}
