@import './theme/default';

.zent-split-button {
  display: inline-block;

  & + .zent-split-button {
    margin-left: 10px;
  }

  &__main {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  &__dropdown {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid $theme-stroke-5;
    padding: 0 4px;

    &-icon {
      transform: scale(0.5);
    }

    &.zent-btn-primary {
      border-left-color: $theme-primary-4;
    }

    &.zent-btn-danger {
      border-left-color: $theme-error-4;
    }

    &.zent-btn-success {
      border-left-color: $theme-success-4;
    }

    &.zent-btn-disabled {
      border-left-color: $theme-stroke-6;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }

  .zent-btn-loading {
    &:hover,
    &:active {
      border-right: none;
    }
  }

  .zent-btn + .zent-btn {
    margin-left: 0;
  }
}
