@import './theme/default';
@import './theme/font';

$cart-color: $theme-stroke-1;
$wait-color: $theme-stroke-4;
$error-color: $theme-error-2;
$bg-color: $theme-stroke-8;
$current-bg-color: $theme-primary-2;
$icon-color: $theme-stroke-4;

.zent-steps {
  width: 100%;
  line-height: 1.5;
  font-size: 0;
  display: flex;
  box-sizing: border-box;
}

.zent-steps-tail {
  position: absolute;
  width: 100%;
  left: 0;
  top: 13px;
  box-sizing: border-box;
  margin-left: 75px;

  i {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 1px;
    height: 2px;
    vertical-align: top;
    background: $theme-stroke-7;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      background: $theme-stroke-7;
      height: 100%;
      opacity: 0;
    }
  }
}

.zent-steps-step {
  position: relative;

  .zent-step-head {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: $theme-stroke-9;
    margin-left: 60px;
    box-sizing: border-box;
  }

  .zent-step-main {
    position: relative;
    vertical-align: top;
    width: 160px;
    color: $theme-stroke-3;
    text-align: center;

    .zent-step-title {
      font-size: $font-size-normal;
      max-width: 160px;
      line-height: 14px;
      margin-top: 10px;
      word-wrap: break-word;
      word-break: break-all;
    }

    .zent-step-description {
      max-width: 160px;
      font-size: $font-size-small;
      line-height: 16px;
      margin-top: 8px;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.zent-step-head-inner {
  margin: 0 8px;
  font-size: 24px;
  color: $icon-color;
  line-height: 24px;

  .zent-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    background: $icon-color;
    color: $theme-stroke-9;
    font-size: $font-size-normal;
  }

  .zenticon {
    vertical-align: middle;
  }
}

.zent-steps-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: visible;
  flex: 1;

  &.zent-steps-status-finish {
    &.is-current {
      .zent-steps-tail {
        i {
          &::after {
            width: 0;
          }
        }
      }
    }

    &.is-last-finish {
      .zent-steps-tail {
        i {
          &::after {
            background-color: $error-color;
            width: 100%;
          }
        }
      }
    }

    .zent-step-head-inner {
      color: $current-bg-color;

      .zent-icon {
        background: $current-bg-color;
      }
    }

    .zent-step-main {
      .zent-step-title {
        color: $theme-stroke-1;
      }
    }

    .zent-steps-tail {
      i {
        &::after {
          width: 100%;
          background: $current-bg-color;
          transition: all 0.2s ease;
          opacity: 1;
        }
      }
    }
  }

  &.zent-steps-status-error {
    .zent-step-head-inner {
      color: $error-color;
    }

    .zent-step-main {
      .zent-step-title {
        color: $error-color;
      }
    }
  }

  &.zent-steps-status-process {
    .zent-step-head-inner {
      .zent-icon {
        background: $current-bg-color;
      }
    }

    .zent-step-main {
      .zent-step-title {
        color: $theme-stroke-1;
      }
    }
  }

  &:last-child {
    flex: none;

    .zent-steps-tail {
      display: none;
    }
  }
}

.zent-steps__vertical {
  display: block;

  .zent-steps-item {
    display: block;
    overflow: visible;

    &.zent-steps-status-finish {
      &.is-current {
        .zent-steps-tail {
          i {
            &::after {
              width: 100%;
              height: 0;
            }
          }
        }
      }

      &.is-last-finish {
        .zent-steps-tail {
          i {
            &::after {
              width: 100%;
            }
          }
        }
      }

      .zent-steps-tail {
        i {
          &::after {
            width: 100%;
          }
        }
      }
    }

    &:last-child {
      .zent-steps-step {
        .zent-step-main {
          min-height: auto;
        }
      }
    }
  }

  .zent-steps-tail {
    position: absolute;
    margin-left: 0;
    width: 2px;
    left: 18px;
    top: 0;
    height: 100%;
    padding: 30px 0 4px;

    i {
      height: 100%;
      width: 2px;

      &::after {
        width: 100%;
      }
    }
  }

  .zent-steps-step {
    .zent-step-head {
      float: left;
      margin-left: 0;
    }

    .zent-step-main {
      display: block;
      overflow: hidden;
      min-height: 120px;
      text-align: left;
      width: inherit;
      padding-left: 5px;

      .zent-step-title {
        margin-top: 2px;
        line-height: 22px;
        max-width: initial;
      }

      .zent-step-description {
        margin-top: 2px;
        padding-bottom: 15px;
        max-width: initial;
      }
    }
  }

  .zent-step-head-inner {
    margin-right: 8px;
  }
}

.zent-steps-card {
  .zent-steps-item {
    box-sizing: border-box;
    padding: 0 1px;

    &.is-clicked {
      cursor: pointer;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .zent-steps-step {
      height: 50px;
      line-height: 50px;
      font-size: $font-size-normal;
      background: $bg-color;
      color: $cart-color;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
    }

    &.is-current {
      &:hover {
        .zent-steps-step {
          background: $theme-primary-3;
        }
      }

      &:active {
        .zent-steps-step {
          background: $theme-primary-1;
        }
      }

      .zent-steps-step {
        background: $current-bg-color;
        color: $theme-stroke-9;
      }
    }
  }
}

.zent-steps-breadcrumb {
  overflow: hidden;

  .zent-steps-item {
    padding: 0 8px;
    box-sizing: border-box;

    &.is-clicked {
      cursor: pointer;
    }

    &:first-child {
      padding-left: 0;

      .zent-steps-step {
        &::before {
          display: none;
        }
      }
    }

    &:last-child {
      padding-right: 0;

      .zent-steps-step {
        &::after {
          display: none;
        }
      }
    }

    .zent-steps-step {
      height: 48px;
      line-height: 48px;
      font-size: $font-size-normal;
      background: $bg-color;
      color: $cart-color;
      text-align: center;
      padding: 0 10px;

      &::after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 12px solid $bg-color;
        position: absolute;
        top: 50%;
        margin-top: -24px;
        right: -12px;
      }

      &::before {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 24px solid $bg-color;
        border-bottom: 24px solid $bg-color;
        border-left: 12px solid transparent;
        position: absolute;
        top: 50%;
        margin-top: -24px;
        left: -12px;
      }
    }

    &.is-finish {
      &:hover {
        .zent-steps-step {
          background: $theme-primary-3;

          &::after {
            border-left-color: $theme-primary-3;
          }

          &::before {
            border-top-color: $theme-primary-3;
            border-bottom-color: $theme-primary-3;
          }
        }
      }

      &:active {
        .zent-steps-step {
          background: $theme-primary-1;

          &::after {
            border-left-color: $theme-primary-1;
          }

          &::before {
            border-top-color: $theme-primary-1;
            border-bottom-color: $theme-primary-1;
          }
        }
      }

      .zent-steps-step {
        background: $current-bg-color;
        color: $theme-stroke-9;

        &::after {
          border-left-color: $current-bg-color;
        }

        &::before {
          border-top-color: $current-bg-color;
          border-bottom-color: $current-bg-color;
        }
      }
    }
  }
}

.zent-steps-tabs {
  position: relative;

  .zent-steps-item {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    background: $theme-stroke-8;
    color: $theme-stroke-1;
    border-right: 1px solid $theme-stroke-5;
    border-top: 1px solid $theme-stroke-5;
    border-bottom: 1px solid $theme-stroke-5;

    &.is-clicked {
      cursor: pointer;
    }

    &:first-child {
      border-left: 1px solid $theme-stroke-5;
    }

    .zent-steps-step {
      height: 46px;
      line-height: 46px;
      font-size: $font-size-normal;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
    }

    &.is-current {
      background: $theme-stroke-9;
      border-bottom-color: transparent;
    }

    &:not(.is-current) {
      &:hover {
        background: $theme-stroke-11;
      }

      &:active {
        background: $theme-stroke-10;
      }
    }
  }
}
