@import './theme/default';

.zent-sweetalert-icon-title {
  line-height: 14px;

  .zent-sweetalert-type-icon {
    margin-right: 10px;
    vertical-align: bottom;
    font-weight: bold;
  }

  .zenticon-info-circle-o {
    @include theme-color(color, primary, 4);
  }

  .zenticon-check-circle-o {
    @include theme-color(color, success, 2);
  }

  .zenticon-close-circle-o {
    @include theme-color(color, error, 2);
  }

  .zenticon-error-circle-o {
    @include theme-color(color, warn, 2);
  }
}
