@import './theme/default';

.zent-swiper {
  position: relative;
  overflow: hidden;

  &__container {
    height: 100%;
    position: relative;
    transition: $timing-fn-ease-in-out-cubic;
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &-icon {
      color: $gray-700;
      font-size: 24px;
      opacity: 0.3;
      transition: opacity 100ms $timing-fn-linear;

      &:hover {
        opacity: 0.7;
      }
    }

    &--disabled {
      cursor: not-allowed;

      .zent-swiper__arrow-icon {
        opacity: 0.1;

        &:hover {
          opacity: 0.1;
        }
      }
    }

    &-left {
      left: 14px;

      .zent-swiper__arrow-icon {
        transform: rotate(180deg);
      }
    }

    &-right {
      right: 14px;
    }
  }

  &--arrow-large &__arrow-icon {
    font-size: 40px;
  }

  &--hover-show-arrow {
    .zent-swiper__arrow-icon {
      display: none;
    }

    &:hover .zent-swiper__arrow-icon {
      display: inline-block;
    }
  }

  &-light {
    .zent-swiper__arrow-icon {
      @include theme-color(color, stroke, 9);
    }
  }

  &__dots {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    &-item {
      @include theme-color(background-color, stroke, 9);
      opacity: 0.3;
      display: inline-block;
      border: 0;
      cursor: pointer;
      outline: none;
    }

    &--line &-item {
      margin: 8px 4px;
      height: 4px;
      width: 16px;
      border-radius: 2px;
      transition: all 300ms $timing-fn-ease-in-out-cubic;
      opacity: 0.3;

      &.zent-swiper__dots-item-active {
        width: 24px;
        opacity: 1;
      }
    }

    &--round {
      .zent-swiper__dots-item {
        height: 12px;
        width: 12px;
        margin: 12px 5px;
        border-radius: 100%;
      }

      .zent-swiper__dots-large .zent-swiper__dots-item {
        height: 15px;
        width: 15px;
      }

      .zent-swiper__dots-small .zent-swiper__dots-item {
        height: 15px;
        width: 15px;
      }
    }

    &-white .zent-swiper__dots-item-active {
      @include theme-color(background-color, stroke, 9);
    }

    &-black .zent-swiper__dots-item-active {
      @include theme-color(background-color, stroke, 1);
    }

    &-blue .zent-swiper__dots-item-active {
      @include theme-color(background-color, primary, 4);
    }

    &-red .zent-swiper__dots-item-active {
      @include theme-color(background-color, error, 2);
    }

    &-green .zent-swiper__dots-item-active {
      @include theme-color(background-color, success, 2);
    }
  }
}
