@import './theme/default';
@import './theme/font';

@mixin background($prop) {
  @include theme-color($prop, stroke, 8);
}

@mixin background-active($prop) {
  @include theme-color($prop, stroke, 9);
}

.zent-tabs {
  @include font-normal;
  display: flex;
  flex-direction: column;

  &-panel-wrapper {
    margin-top: 16px;
  }

  &-nav {
    @include theme-color(border-bottom-color, stroke, 6);
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    outline: none;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;

    &-extra-content {
      float: right;
      display: inline-block;
      width: auto;
      height: 100%;
      vertical-align: middle;
    }

    &-add {
      float: right;
      display: inline-block;
      width: 20px;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;

      span {
        @include theme-color(border-color, stroke, 6);
        display: block;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        position: relative;
        top: 50%;
        margin-top: -10px;
        line-height: 18px;
        height: 20px;
      }
    }

    &-align {
      @each $type, $justify-content in $align-types {
        &__#{$type} {
          .zent-tabs-scroll {
            justify-content: $justify-content;
          }
        }
      }
    }

    &-content {
      flex: 1 1 auto;
      order: 1;
      overflow: hidden;
    }
  }

  &-scroll {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
  }

  &-tab {
    @include theme-color(color, stroke, 2);
    @include theme-color(border-top-color, stroke, 6);
    @include theme-color(border-right-color, stroke, 6);
    @include background(background-color);
    position: relative;
    cursor: pointer;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    box-sizing: border-box;
    text-align: center;

    &-delete {
      line-height: 1;
      position: absolute;
      top: 3px;
      right: 3px;
      font-size: $font-size-small;
      display: none;
    }

    &:hover {
      color: $active-color;

      .zent-tabs-tab-delete {
        display: block;
      }
    }

    &-tab:first-child {
      @include theme-color(border-color, stroke, 6);
      border-width: 1px;
      border-style: solid;
      border-bottom: 0;
      border-top-left-radius: 4px;
    }

    &__disabled {
      color: $disable-color;

      &-tab:hover {
        @include theme-color(color, stroke, 1);

        &:hover {
          color: $disable-color;
        }
      }
    }
  }
}

.zent-tabs-actived {
  @include theme-color(color, stroke, 1);
  @include background-active(background-color);
  position: relative;

  .zent-tabs-nav-content {
    padding: 0 16px;
    margin-bottom: -1px;
  }

  .zent-tabs-disabled {
    @include theme-color(color, stroke, 4);

    &-inner {
      padding: 14px 16px;
    }

    &.zent-tabs-tab:hover {
      @include theme-color(color, stroke, 4);
    }
  }
}

// 卡片模式样式
.zent-tabs-nav-type__card {
  @include content-stretch('.zent-tabs-tab');
  border-bottom: 1px solid $border-color;
  height: map-get($card-variables, 'height');

  .zent-tabs-nav-content {
    margin-bottom: -1px;
  }

  .zent-tabs-tab {
    border: 1px solid $border-color;
    border-left: 0;
    background-color: map-get($card-variables, 'tab-bg');
    min-width: 104px;

    .zent-tabs-actived {
      .zent-tabs-tab-inner {
        @include background-active(background-color);
        padding-bottom: 15px;
      }

      &:first-child {
        border-left: 1px solid $border-color;
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }

      &__actived {
        background-color: $active-tab-bg;
        border-bottom: 0;
        padding-bottom: 1px;
      }
    }
  }
}

.zent-tabs-type-card {
  .zent-tabs-tab {
    @include background(border-color);
    border-radius: 0;
  }

  .zent-tabs-tab:first-child {
    @include background(border-color);
    border-radius: 0;
  }

  .zent-tabs-tab:last-child {
    @include background(border-color);
    border-radius: 0;
  }

  .zent-tabs-actived {
    @include background(border-color);
    border-radius: 0;
    border: 0;

    .zent-tabs-tab-inner {
      @include theme-color(border-color, stroke, 6);
      border-width: 1px;
      border-style: solid;
      border-bottom: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background-color: white;
    }
  }
}

.zent-tabs-nav-type__vertical {
  width: 96px;
  padding: 14px 7px 14px 0;
  border-right: 1px solid $border-color;

  .zent-tabs-scroll {
    overflow-x: hidden;
    flex-direction: column;
  }

  .zent-tabs-tab {
    display: block;
    border-radius: 2px;
    text-align: left;
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }

    &__actived {
      background-color: $theme-stroke-6;
    }

    .zent-tabs-nav-ink-bar {
      @include theme-color(background-color, primary, 5);
      position: absolute;
      display: block;
      bottom: 2px;
      height: 2px;
      width: 0;
      z-index: 10;
    }
  }
}

.zent-tabs-third-level {
  @include theme-color(background-color, stroke, 8);
}
