@import './theme/default';
@import './theme/font';

$color: $theme-stroke-2;
$active-color: $theme-stroke-1;
$active-tab-bg: $theme-stroke-9;
$disable-color: $theme-stroke-4;
$border-color: $theme-stroke-5;

$normal-variables: (
  height: 48px,
  inkColor: $theme-primary-4,
);

$card-variables: (
  height: 40px,
  tab-bg: $theme-stroke-8,
);

.zent-tabs {
  @include font-normal;

  &-panel-wrapper {
    margin-top: 16px;
  }

  &-nav {
    position: relative;
    outline: none;
    display: flex;
    justify-content: flex-start;

    &-extra-content,
    &-add {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 8px;
    }

    &-add {
      text-align: center;
      cursor: pointer;

      span {
        display: block;
        border: 1px solid $border-color;
        border-radius: 2px;
        top: 50%;
        line-height: 18px;
        width: 20px;
        height: 20px;
      }
    }

    &-content {
      flex: 1 1 auto;
      overflow: hidden;
    }
  }

  &-scroll {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: auto;
  }

  &-tab {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: $color;
    box-sizing: border-box;

    &-inner {
      text-align: center;
      min-width: 80px;
      box-sizing: border-box;
      font-size: $font-size-normal;
      position: relative;

      &-del {
        line-height: 1;
        position: absolute;
        top: 3px;
        right: 3px;
        font-size: $font-size-small;
        display: none;
      }
    }

    &:hover {
      color: $active-color;

      .zent-tabs-tab-inner-del {
        display: block;
      }
    }

    &__actived {
      position: relative;
      color: $active-color;
      background-color: $active-tab-bg;
    }

    &__disabled {
      color: $disable-color;

      &.zent-tabs-tab {
        cursor: not-allowed;

        &:hover {
          color: $disable-color;
        }
      }
    }
  }
}

// .zent-tabs-nav-align-center {
// }

// .zent-tabs-nav-align-right {
// }

.zent-tabs-nav-type__normal {
  border-bottom: 1px solid $border-color;
  height: map-get($normal-variables, 'height');

  .zent-tabs-tab-inner {
    padding: 14px 16px;
  }

  .zent-tabs-nav-ink-bar {
    position: absolute;
    display: block;
    height: 2px;
    background-color: map-get($normal-variables, 'inkColor');
    bottom: -1px;
    width: 0;
    z-index: 10;
  }
}

.zent-tabs-nav-type__card {
  border-bottom: 1px solid $border-color;
  height: map-get($card-variables, 'height');

  .zent-tabs-nav-content {
    margin-bottom: -1px;
  }

  .zent-tabs-tab {
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: map-get($card-variables, 'tab-bg');

    &-inner {
      padding: 10px 16px 9px;
    }

    &:first-child {
      border-left: 1px solid $border-color;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
    }

    &__actived {
      background-color: $active-tab-bg;
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }

  // .zent-tabs-actived {
  //   border-radius: 0;
  //   border: 0;

  //   .zent-tabs-tab-inner {
  //     border: 1px solid $border-color;
  //     border-bottom: 0;
  //     border-top-left-radius: 6px;
  //     border-top-right-radius: 6px;
  //     background-color: white;
  //   }
  // }
}
