@import './theme/default';
@import './theme/font';

.zent-tag {
  @include theme-color(color, stroke, 1);
  @include theme-color(border-color, stroke, 4);
  display: inline-block;
  font-size: $font-size-small;
  line-height: 1;
  padding: 2px 4px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;

  &.zent-tag-size-medium {
    font-size: $font-size-normal;
  }

  &.zent-tag-size-large {
    font-size: $font-size-normal;
    line-height: 18px;
  }

  &.zent-tag-rounded {
    border-radius: 2px;
  }

  &.zent-tag-closable {
    .zent-tag-content {
      display: inline-block;
      margin-right: 4px;
    }

    .zent-tag-close-btn {
      cursor: pointer;
      font-size: 12px;
      transform: translate(2px, 0);
    }
  }

  &.zent-link-tag {
    .zent-link-tag-content {
      display: inline-block;
    }

    .zent-link-tag-right-icon {
      margin-right: -1px;
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
      @include theme-color(color, primary, bg);
      @include theme-color(border-color, primary, bg);
    }
  }

  &.zent-select-tag {
    cursor: pointer;

    &.zent-select-tag-selected {
      @include theme-color(color, primary, bg);
      @include theme-color(background-color, default, hover-bg);
      @include theme-color(border-color, default, hover-bg);
    }
  }

  a {
    color: inherit;
  }
}
