@import './theme/default';
@import './theme/font';

$color-red: $theme-error-2;
$color-green: $theme-success-2;
$color-yellow: $theme-warn-1;
$color-blue: $theme-primary-2;
$color-darkgreen: $theme-success-1;
$color-grey: $theme-stroke-7;
$color-grey-outline: $theme-stroke-4;
$color-text: $theme-stroke-9;

.zent-tag {
  display: inline-block;
  font-size: $font-size-small;
  color: $color-text;
  line-height: 1;
  padding: 2px 4px;
  border: 1px solid $color-text;
  box-sizing: border-box;

  &.zent-tag-rounded {
    border-radius: 2px;
  }

  &.zent-tag-closable {
    .zent-tag-content {
      display: inline-block;
      margin-right: 4px;
    }

    .zent-tag-close-btn {
      cursor: pointer;
      transform: scale(0.6) translate(2px, 0);
    }
  }

  &.zent-tag-style-red {
    background: $color-red;
    border-color: $color-red;
  }

  &.zent-tag-style-red-outline {
    color: $color-red;
    border-color: $theme-error-4;
  }

  &.zent-tag-style-green {
    background: $color-green;
    border-color: $color-green;
  }

  &.zent-tag-style-green-outline {
    color: $color-green;
    border-color: $theme-success-4;
  }

  &.zent-tag-style-yellow {
    background: $color-yellow;
    border-color: $color-yellow;
  }

  &.zent-tag-style-yellow-outline {
    color: $color-yellow;
    border-color: $theme-warn-2;
  }

  &.zent-tag-style-blue {
    background: $color-blue;
    border-color: $color-blue;
  }

  &.zent-tag-style-blue-outline {
    color: $color-blue;
    border-color: $theme-primary-4;
  }

  &.zent-tag-style-darkgreen {
    background: $color-darkgreen;
    border-color: $color-darkgreen;
  }

  &.zent-tag-style-darkgreen-outline {
    color: $color-darkgreen;
    border-color: $theme-success-3;
  }

  &.zent-tag-style-grey {
    color: $theme-stroke-1;
    border-color: $color-grey;
    background: $color-grey;
  }

  &.zent-tag-style-grey-outline {
    color: $theme-stroke-1;
    border-color: $color-grey-outline;
  }

  a {
    color: inherit;
  }
}
