@import './theme/default';
@import './theme/font';
@import './mixins/pop-arrow';

.zent-tooltip-v2 {
  @include font-normal;
  @include theme-color(background-color, stroke, 2);
  @include theme-shadow(layer);

  border-radius: 2px;
  z-index: 2000;

  .zent-tooltip-v2-inner {
    @include theme-color(background-color, stroke, 2);
    @include theme-color(color, stroke, 9);
    position: relative;
    border-radius: 2px;
    padding: 8px 16px;
    z-index: 2;
  }

  .zent-tooltip-v2-arrow {
    @include theme-color(background-color, stroke, 2);
    @include theme-shadow(layer);

    position: absolute;
    z-index: 1;
    width: var(--CSS_ARROW_SIZE);
    height: var(--CSS_ARROW_SIZE);
    overflow: hidden;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--CSS_ARROW_COVER_SIZE);
    height: var(--CSS_ARROW_COVER_SIZE);
  }

  &.zent-popover-v2-position,
  &.zent-popover-v2-position-arrow {
    @include pop-arrow('tooltip-v2');
  }
}
