@import './theme/default';
@import './theme/font';

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin tips {
  @include theme-color(color, stroke, 3);
  @include font-small;
  margin-top: 12px;
  text-align: center;
}

.zent-upload {
  @include theme-color(border-color, stroke, 5);
  border-width: 1px;
  border-style: solid;
  width: 320px;
  padding: 16px;

  &-tips {
    @include tips;
  }

  &-trigger {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;

    &-text {
      margin-left: 8px;

      &__count {
        @include theme-color(color, stroke, 2);
      }
    }

    &-icon__normal {
      @include theme-color(color, primary, 4);
      font-size: $font-size-large;
    }
  }

  &-list {
    @include theme-color(border-bottom-color, stroke, 5);
    border-bottom-width: 1px;

    &-pagination {
      margin-top: 30px;

      .zent-pagination-page-list--mini {
        margin: 0;
      }
    }

    &-wrapper {
      + .zent-upload-trigger-wrapper {
        margin-top: 16px;
      }
    }
  }

  &-item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__icon {
      width: 20px;
      height: 20px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &-wrapper {
        // important display inline-flex to cover pop compontent inline style
        // sass-lint:disable no-important
        display: inline-flex !important;
        overflow: hidden;
        margin-left: 4px;
        flex: 1;
      }
    }

    &__actions {
      margin-left: 4px;

      a {
        cursor: pointer;
      }
    }

    &__retry {
      @include theme-color(border-right-color, stroke, 5);
      border-right-width: 1px;
      border-right-style: solid;
      padding-right: 4px;
      margin-right: 4px;
    }

    &__progress {
      margin-top: 8px;
    }

    &__failed {
      @include theme-color(color, error, 2);
    }
  }
}

.zent-image-upload {
  &-tips {
    @include tips;
  }
}
