@import './theme/default';
@import './theme/font';

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin trigger-disabled {
  cursor: not-allowed;
}

@mixin tips {
  @include theme-color(color, stroke, 3);
  @include font-small;
  margin-top: 12px;
}

@mixin image-item {
  border-radius: 2px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  cursor: pointer;
}

.zent-upload {
  @include theme-color(border-color, stroke, 5);
  border-width: 1px;
  border-style: solid;
  width: 320px;

  &-tips {
    @include tips;
    text-align: center;
  }

  &-trigger {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;

    &__disabled {
      @include trigger-disabled;
    }

    &-wrapper {
      padding: 16px;
    }

    &-text {
      margin-left: 8px;

      &__count {
        @include theme-color(color, stroke, 2);
      }
    }

    &-icon__normal {
      @include theme-color(color, primary, 4);
      font-size: $font-size-large;
    }
  }

  &-list {
    @include theme-color(border-bottom-color, stroke, 5);
    border-bottom-width: 1px;

    &-wrapper {
      padding: 16px 16px 0;
    }

    &-pagination {
      margin-top: 30px;

      .zent-pagination-page-list--mini {
        margin: 0;
      }
    }
  }

  &-item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__icon {
      width: 20px;
      height: 20px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &-line {
        display: inline-flex;
        width: 100%;
      }

      &-wrapper {
        flex: 1;
        margin-left: 4px;
        overflow: hidden;
      }
    }

    &__actions {
      margin-left: 4px;

      a {
        cursor: pointer;
      }
    }

    &__retry {
      @include theme-color(border-right-color, stroke, 5);
      border-right-width: 1px;
      border-right-style: solid;
      padding-right: 4px;
      margin-right: 4px;
    }

    &__progress {
      margin-top: 8px;
    }

    &__failed {
      @include theme-color(color, error, 2);
    }
  }
}

.zent-image-upload {
  &-tips {
    @include tips;
  }

  &-trigger {
    @include image-item;
    @include theme-color(background-color, stroke, 8);
    @include theme-color(color, stroke, 3);
    @include theme-color(border-color, stroke, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 12px;

    &__disabled {
      @include trigger-disabled;
    }

    &-add-icon {
      font-size: 24px;
    }
  }

  &-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: -12px;
  }

  &-item {
    @include image-item;
    position: relative;
    margin-right: 12px;
    margin-bottom: 12px;

    &-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__white {
        background-color: rgba(255, 255, 255, 0.8);
      }

      &__black {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &__failed {
        @include theme-color(color, error, 2);
      }

      &__retry {
        @include theme-color(color, primary, 4);
      }

      &-text {
        margin-top: 4px;
      }
    }

    &__thumb {
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }

    &__delete {
      @include theme-color(color, stroke, 1);
      position: absolute;
      font-size: 16px;
      right: -8px;
      top: -8px;
      display: none;
    }

    &__hover {
      .zent-image-upload-item__delete {
        display: inline-block;
      }
    }
  }
}
