@import './theme/default';
@import './theme/font';

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin tips {
  @include theme-color(color, stroke, 3);
  @include font-small;
  margin-top: 12px;
  text-align: center;
}

.zent-upload {
  @include theme-color(border-color, stroke, 5);
  border-width: 1px;
  border-style: solid;
  width: 320px;
  padding: 16px;

  &-tips {
    @include tips;
  }

  &-trigger {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;

    &-text {
      margin-left: 8px;

      &__count {
        @include theme-color(color, stroke, 2);
      }
    }

    &-icon__normal {
      @include theme-color(color, primary, 4);
      font-size: $font-size-large;
    }
  }
}

.zent-image-upload {
  &-tips {
    @include tips;
  }
}
